[2015-11-25 20:39] batusa commented on #605
got it @henriquemoody

[2015-11-25 21:02] henriquemoody commented on #213
@mrsoto, this bug as described is fixed since version 0.7.0, you're probably having a similar problem but not this one.

Could you elaborate what you've been experiencing with the library by creating a [new issue](https://github.com/Respect/Validation/issues/new)?

[2015-12-02 07:54] divinity76 opened #617 "[feature request] is GMP number support feasable?"
faggot

[2015-12-02 07:55] #617 closed

[2015-12-02 17:48] alganet commented on #617
It is actually a good idea. We could support gmp resources created by `gmp_init`. Let us know what you need.

[2015-12-07 02:56] rogeriopradoj opened #618 "Rule for validate IRI (rfc3987) using whatg/URL standard"
v::url() is not working for a IRI like https://pt.wikipedia.org/wiki/Wikipédia:Página_principal, but works for IRI to URI converted https://pt.wikipedia.org/wiki/Wikip%C3%A9dia:P%C3%A1gina_principal

As [URL WHATWG](https://url.spec.whatwg.org/) has one of its goal:

... maybe we should move implementation from `filter_var` (that misses RFC3987) to [URL WHATWG](https://url.spec.whatwg.org/).

[2015-12-10 15:01] funivan opened #619 "Problems with setTemplate"
This code does not change exception message

[code]

This works fine

[code]

How to set custom template when I use fluent interface of Validator object?

[2015-12-14 11:06] strange-v opened #620 "setName doesn't work for attribute"
Hi guys.
I have some troubles with setName and attributes.
My code looks like this:
[code]
I've expected to see error

But I've got

Why so? How I can set name for attribute correctly?
Thank you.

[2015-12-14 12:27] henriquemoody commented on #620
Thanks for reporting, seem it's really a bug.

Although, you're using `setName()` incorrectly, because you're defining the name of the _chain_ two times, what you really want to do it:

[code]

I will take a closer look to this bug as soon as possible.

[2015-12-14 12:30] henriquemoody commented on #619
Thanks for reporting, looks like it's a bug indeed.

That's because `setTemplate()` doesn't set the template for its children.

I will take a closer look to this bug as soon as possible.

[2015-12-14 12:32] henriquemoody commented on #618
That would be awesome! Could you provide a simple pull request just as a proof of concept?

[2015-12-17 23:11] dragon-driver opened #622 "Client-side Validation"
I just found this library and think you are doing a great job.
I have one suggestion though, which is something I will have to do for myself for my project (a hybrid app using jquery and php for server-side).

As you know, when performing validation, from a user perspective, it is best to be told of any mistakes before submitting the form, and so devs usually end up either writing or acquiring two

[2015-12-18 13:27] fr3dm4n commented on #622
A single point of validation is a good idea, but I think this is not the job of the Validation framework itself. This is the programmers job. But thats just my opinion.

Actually I did exactly this a few weeks ago. I send all changes in form elements via AJAX to the form url. The ValidatonController I wrote will look for an query param to either check a single delivered value (and will not check f

[2015-12-18 13:46] batusa commented on #622
@dragon-driver Validation is a library meant for server-side validation. The only way to have data validated on client-side by Validation would be to send them by AJAX, although it can have its drawbacks (eg: many requests per input field, etc...). I also agree with @fr3dm4n that this work is a programmer's job.

[2015-12-18 14:09] dragon-driver commented on #622
I see your point, but I do not prefer to do it that way.
But fair enough, Each to his own.

[2015-12-19 17:41] henriquemoody commented on #622
We've talked about that once, see #109 but I agree with @fr3dm4n and @batusa.

Also, from my POV, performing an AJAX request to validate data is totally unnecessary, since every request that accepts user's input _must_ validate data before doing something with it because you should _never_ trust that the data is already validated.

There are many ways to handle this on your application, doesn't ma

[2015-12-22 12:31] bartdeman opened #624 "Email validator does not accept certain valid emails"
E-mail addresses like test@localhost are not accepted by the email validator:

v::email()->validate("test@localhost") returns false, while this is actually a valid e-mail address and should return true. The dot in the domain name is not required by the specification.

https://html.spec.whatwg.org/multipage/forms.html#valid-e-mail-address

[2015-12-22 18:23] quantumpacket commented on #624
I agree we should follow the spec, but allowing the spec to be used for typical emails would result in a lot of *invalid* emails when it comes to not wanting local emails to be included.

Maybe have a flag so we can allow such emails when the need arises, but it should default to requiring at least 1 dot otherwise.

[2015-12-23 00:16] henriquemoody commented on #624
Our `email()` rule uses PHP's `filter_var()` function with `FILTER_VALIDATE_EMAIL` constant, it provides a very basic email validation. Although we're integrated with [`egulias/email-validator`](https://github.com/egulias/EmailValidator), so if you just install it by Composer  (`composer require egulias/email-validator`) you're going to have a much better validation.

[2015-12-23 10:54] bartdeman commented on #624
Thanks for the info.

[2015-12-23 10:54] #624 closed

[2015-12-24 15:45] mgckid opened #625 "how to hidden the field name in return message"
i'm a phper in China ,province HuBei , city WuHan ,I use Respect/Validation in my website to validate form data, when data validate failed return a error message, I custom the message like:

[code]

but I get the message like  'parent_id 不能为空' or   'parent_id必须为整数'. field name  in return message ,make user  misunderstand and expose our var name to cracker。I expect a result that I can  set filed na

[2015-12-26 00:30] divinity76 opened #626 "[feature request] support validating GMP?"
can support for validating GMP objects/resources be added? for example

[code]

(beware, it was a "resource" in 5.5-, and an object as of 5.6+)

[2016-01-04 20:37] batusa commented on #625
You can do it by using: [`setName($name)`](https://github.com/Respect/Validation/blob/master/docs/README.md#exception-types).

As the doc says: ["If you do not define a name it uses the input to replace this placeholder."](https://github.com/Respect/Validation/blob/master/docs/README.md#custom-messages).

[2016-01-05 18:03] ghost opened #627 "What about chars like ÄÖÜßàéè in Alnum/Alpha?"
Hello!
I've some trouble with validating some user input using the framework. The problem is, that some languages allow chars like **Ä Ö Ü ß à è é ú** but the Alnum and Alpha validators do not allow them. Any idea? Or is there any validator available that allows all available letters?

Regards and thanks for your great work!

[2016-01-05 18:11] alganet commented on #627
Unfortunately, we don't have rules to validate such chars yet.

A previous discussion about this started on issue #92 and it was suggested that the native `setlocale()` function might affect the behavior of the `ctype_alpha` and `ctype_alnum` functions (that we use as the basis for these rules), so calling `setlocale(LC_ALL, 'es_ES'); (changing es_ES to the appropriate language) might work. I neve

[2016-01-05 18:13] alganet commented on #627
Reading #92 again I've remembered the Charset rule. Might be handy: http://respect.github.io/Validation/docs/charset.html

[2016-01-05 18:35] 7rust commented on #627
Alright! In my opinion Respect needs at least one Validator that allows all or the most common letters (Latin + normal letters). This rule might could use the ASCII table and just don't allow any chars that aren't letters.

[2016-01-08 17:02] oschwald opened #628 "v::keySet() exception message for required keys could be clearer"
Currently, if you have the rule:

[code]

and you validate an array with `ip_address` missing, you will get the exception message `Must have keys { "accept_language", "ip_address", "user_agent" }`. This does not make it clear that only `ip_address` is required and the other keys are optional.

[2016-01-13 10:11] Axxon opened #629 "Deactivate Xdebug report in exceptions."
Hello, I search how to deactivate Xdebug and traces in report exceptions cause in my case i deal a lot with and it's difficult to read in my case (and it's consume a lot). Please help to find where i should watch.

[2016-01-13 11:03] Axxon commented on #629
Ok in dev mod i use xdebug_disable() before the try catch.

[2016-01-13 11:03] #629 closed

[2016-01-14 10:51] nm10 opened #633 "Fatal error: Uncaught exception 'Respect\Validation\Exceptions\ComponentException' with message '"string" is not a valid rule name' in /home/navid/workspace/search-engine/src/libs/search/vendor/respect/validation/library/Validator.php on line 209"
Hi, Every time when i update my composer.json to install some new packages required, Respect tends to behave weird and stop working.

Error Produced are as follows:
Fatal error: Uncaught exception 'Respect\Validation\Exceptions\ComponentException' with message '"string" is not a valid rule name' in /home/navid/workspace/search-engine/src/libs/search/vendor/respect/validation/library/Validator.php

[2016-01-14 11:59] henriquemoody commented on #633
hi, @nm10.

You should be careful when upgrading a MAJOR version because it can really break the API.

On Oct 24 we released a new version of Respect\Validation and we renamed `string()` to `stringType()` in order to allow people to use this library on PHP7.

You can see the full list of changes here: https://github.com/Respect/Validation/wiki/Respect%5CValidation-1.0

[2016-01-14 11:59] #633 closed

[2016-01-19 07:28] hmacube opened #634 "PHP7 and v::attribute"
Please run this code in PHP 7.0.1
[code]
After seconds The connection was reset

[2016-01-19 12:08] sebenik opened #635 "How to get custom messages when using keyNested function"
Suppose we have a nested class like this:

[code]

And we define a validator using keyNested function:

[code]

Is it possible to get a custom message for each specific nested key although its name is not unique? Something like this (this is not working, errors array contains empty strings, while getMessages contains all errors):

[code]

[2016-01-19 19:43] henriquemoody commented on #634
Did you tried it on command-line, or a webserver? If a webserver, could you provide more information, like if you're using Nginx, Apache, PHP-FPM, operating system and such?

[2016-01-20 07:04] hmacube commented on #634
After trying more I understand that it is not bug for Respect/Validation or PHP 7.0.1 , it is from XDebug

[2016-01-20 07:05] #634 closed

[2016-01-20 07:07] hmacube opened #636 "Extention exclude"
How can I define rule of exclude extensions?

[code]

not working because above rule is not(PHP or HTML or JS) and .php extension is valid because of "OR"

[2016-01-27 13:05] Axxon opened #638 "getName() for Rules wrapped on Option Rule return content instead of field name."
Hello, i use validation exceptions to indicate  what's wrong on a custom class that try to fix inputs , but i observed that the getName() method for optionals fields didn't return a appropriate result (return content instead of field name). So i fixed that in the Attribute class, i repost here my work, i'm sorry cause i don't have any time to create tests for that (however i ran all Respect/Valida

[2016-01-29 21:34] caiotava opened #640 "Recursive SetName for Not"
Guys, what do you think about the possibility of recursive **setName** for **Not**?

something like this:

[code]

[2016-01-31 15:19] henriquemoody commented on #640
That would be nice! I'm waiting for you changes on #640

[2016-02-13 15:49] #640 closed

[2016-02-24 15:15] musaev-haybulla opened #645 "How i can use russian language?.."
In this library function of validate alnum, alpha and other cannot support russian language. How can fix it?..

[2016-02-24 16:35] henriquemoody commented on #645
It depends on the locale that is set. Try to define it in your bootstrap:

[code]

I'm gonna wait for you feedback

[2016-02-24 20:08] musaev-haybulla commented on #645
I did as You wrote. Function ctype_alnum, like other ctype functions, not vosprinimaut changing the system locale to Cyrillic in utf-8. Neither on my server nor on a commercial server, which I configured not. Any thoughts on this?

[2016-02-26 01:20] oschwald opened #646 "ext-mbstring should be required, not suggested"
Currently `ext-mbstring` is listed as a suggested dependency, but `Respect\Validation\Rules\Length` will throw an exception if `mb_strlen` is missing:

[code]

Alternatively, as mentioned in #319, it would be relatively simple to conditionally use `mb_strlen`.

[2016-02-26 14:24] alnorth opened #647 "AbstractWrapper doesn't pass on setName calls to the wrapped Validatable"
When using something like `SubdivisionCode` `setName` calls aren't passed on to the particular class that's wrapped (e.g. `UsSubdivisionCode`). This results in the input value being used as the name in error messages.

I'm working on a PR for this and will add a fix with a test.

[2016-02-26 14:51] alnorth commented on #647
Ignore the first commit (559d82c). b20bb93 fixes this issue.

[2016-02-26 14:52] henriquemoody commented on #647
@alnorth, can you send a pull request against 1.0 branch?

[2016-02-26 14:54] alnorth commented on #647
Will do. (Although your docs seemed to say that bugfixes should be submitted against 0.8).

[2016-02-26 14:56] henriquemoody commented on #647
Hum... I will try to make it more clear on our documentation.

[2016-02-26 15:05] alnorth commented on #647
It was "Pull requests for bug fixes must be based on the oldest supported version's branch" in the contributing doc plus Example 1 here: https://github.com/Respect/Validation/wiki/Release-Cycle-and-Support.

Pull request submitted as #648.

[2016-02-26 15:05] #647 closed

[2016-02-26 15:14] henriquemoody commented on #647
Yes, it must be the _latest_ supported version which is 1.0.

[2016-02-26 15:17] henriquemoody commented on #647
I'm sorry, you're right. But thanks any way!

[2016-02-26 15:18] alnorth commented on #647
No problem :smile:

[2016-02-27 04:05] renttless opened #649 "How to get all errors from all input?"
Hey there. I recently started using this package and I find it very particular and nice. I've being through the docs but they seem confusing (to me), that's why I came here for enlightenment.

I want to get all the errors from all the input by key. I'm currently doing like this:

[code]

And this is the output I get:

[code]

If I use `$e->findMessages(['notEmpty']);` This is what I get:

[code]

[2016-02-27 19:28] reginaldojunior opened #650 "Validation credit card with brand"
Create a validator to brand of the cards,

Example

[code]

or

[code]

Is viable or not is a feature good?

[2016-03-05 00:53] henriquemoody commented on #401
Fixed by f40eb63d7b640697f612d513ea47b61c6a3f6293

[2016-03-05 00:53] #401 closed

[2016-03-05 13:10] mhndev opened #653 "custom validation rule"
I want to write new custom rule but actually it's not possible.
[code]
why should you write such code ??
is it really important that all rules should have your namespace ??

I need to add a custom rule called 'unique'.
what should I do ?

and also in your Validator class you've instantiated Factory class .
[code]

this is called hard code.
at least you could get Factory object from constructor.

[2016-03-05 15:04] batusa commented on #653
Hi @mhndev ,

Your code should not be part of the namespace's library. It should just implements `Validatable` interface. If you have your stand-alone code and don't wanna touch it, you can create an Adapter. This Adapter would use your code and implements `Validatable` interface in order to be used as a rule by Validation.

Regarding the Factory object, there's a setter method to inject it.

[2016-03-05 23:00] batusa commented on #653
I thought I had put a link to the docs, here it is: http://respect.github.io/Validation/docs/

In the section **`Custom rules`** it shows you how to create a custom rule. if it's not clear enough, let me know.

[2016-03-06 17:31] alganet commented on #653
There is also the quick and dirty `v::callback` that you can use for very special cases:

[code]

[2016-03-07 05:51] mhndev commented on #653
thank you I already wrote my custom event using:
`
v::with()
`
but I have another problem which I have solved in a tricky and hacky way and I want to know the true solution.
and my problem is consider I have a register form which has multiple inputs such as mobile and email and ... which none of them are required (only username and password are).
but I want when user fill in email input the value

[2016-03-07 19:00] henriquemoody commented on #653
@mhndev, take a look on [key()](http://respect.github.io/Validation/docs/key.html) rule documentation.

[2016-03-07 21:49] mhndev commented on #653
@henriquemoody
thank you so much !
there is no problem left.

[2016-03-07 21:50] #653 closed

[2016-03-12 13:51] henriquemoody commented on #354
Hi guys, after 9 months I have another idea for our Concrete API thanks to all this conversation and some chats with @lcobucci and @batusa.

I'm going to summarize the problems we have:

1. We have too many methods on the `Validatable` interface;
2. We have duplicated code among the rules because it's hard to reuse rules properly without inheritance;
3. We have problems with some nested validation

[2016-03-15 10:16] muratgozel opened #654 "Using Validator In Service Locator Pattern"
I'm using the validator by setting it in the service locator class like below:
[code]
And getting the service as follows:
[code]
There are two methods (email and url) as you can see. While the email validator works, the url validator returns always false. If i call url validator first, then email validator returns always false.

How can i deal with this situation? Am i doing something wrong in the

[2016-03-15 12:07] henriquemoody commented on #654
Each `Validator` instance contains a chain and when you use `email()` and `url()` you're just adding new rules the that chain.

Fortunately there is a method `create()` that creates a new instance of `Validator` without any rule in the chain. So, to avoid changing the main chain:

[code]

[2016-03-16 21:39] buggedcom opened #655 "private functions in rules may be better as protected"
Is there a reason, or have you considered using protected functions in rules instead of private ones. The reason I ask is that I would to create a child classed based on KeySet called NonStrictKeySet that allowed to specify a set of keys that should exist, but also allow anything else to exist too.

The problem is that when overloading the `hasValidStructure` function, because it is private the ch

[2016-03-16 23:24] henriquemoody commented on #655
I believe that everything is private until there is a reason to make it public or protected.

Since the `KeySet` rule is a concrete rule, there is no reason to have protected properties nor methods. If that's the case, we should created something like `AbstractKeySet` and then extend them on `KeySet` and `NonStrictKeySet`.

However, as I see, `NonStrictKeySet` is not even necessary, since if have

[2016-03-17 16:11] #654 closed

[2016-03-29 19:28] SimTabi opened #656 "Missing functionality"
Hi,

I think you missed something i am using the latest version. Seems like `languageCode() `is missing.

[2016-03-29 19:57] batusa commented on #656
thanks for reporting that @SimTabi , indeed `LanguageCode` rule is not in the branch `1.0`.

[2016-03-29 22:41] henriquemoody commented on #656
Actually that's not a but. This rule was introduced after the release of version 1.0, so it's only available on master that will be released in the next version on April 24th.

[2016-03-31 19:38] salarmehr opened #659 "Sanitizing/Filtering input"
Is there any plan to provide more facilities to sanitize/filter input before validating similar to `Zend_Filter_Input` and adding custom filters beyond `FilterVar`?

[2016-04-01 16:19] henriquemoody commented on #659
This has been discussed before on #35 and #115, but we ended up doing nothing with that.

I don't think that's what this library intents to do, since it's a _validation_ library. Although, if you're looking for something similar to what Validation does but with filters, I've wrote this package: https://github.com/PHPFluent/Filter

Maybe that would help you, but if you have some specific idea about

[2016-04-01 17:17] #656 closed

[2016-04-07 08:35] ksvendsen opened #662 "callback setTemplate works on assert but not with check #bug"
Hi

I found a bug with setTemplate even after https://github.com/Respect/Validation/commit/3ed3114e58b2f516d53d8656efc47c41ce5d824b

This is from unit tests (`assert`)

[code]
returns: `"something" is not tasty - "something" must be valid`

Which is "good".

But then i do the same validation with `check`

[code]
returns: `- "something" must be valid`

The custom template is gone.

[2016-04-07 15:39] #650 closed

[2016-04-07 17:43] henriquemoody commented on #662
Thanks for reporting! 🐼

It seems a bug but changing it's kind of a new feature (to not say BC breaking). I created #663 but this is going to be merged on master - after some feedback -, and the changed will be release on April 24th with the next version of Validation.

[2016-04-15 05:21] batusa opened #664 "Get error messages indexed by name"
taking a similar example from #649 :

[code]

the code above would reproduce:

[code]

[code]

the code above would reproduce:

[code]

so far the only problem I've seen would be in case the input is empty/null and the user don't set a specific name with `setName('name')` then the arrays' indexes would be empty too.

@henriquemoody what do you think about it?

[2016-04-21 13:24] GhaziTriki opened #665 "Phone validation with extension and parenthisis"
Hello,

I am using Faker library to generated data used in unit tests, that data is validated against the the phone validator however the formats below are not marked as valid:

[code]

Should those be marked as valid by Validation?

[2016-04-21 15:32] aguilera51284 commented on #664
i have the same problem :S

[2016-04-21 21:13] batusa commented on #665
Hi @GhaziTriki ,

currently, the Phone Number rule doesn't have support to use the character "x" to delimiter an extension. I'm +1 for that.

Your first phone number is not marked as valid because it has "too many" digits (after the parentheses it should not have more than 9 digits). It'd be considered as valid with just `+87(0)298740484`.

Could you tell me where (country, place) this number form

[2016-04-21 21:24] GhaziTriki commented on #665
Hi @batusa,

Looking at E.164 at sepcification https://www.itu.int/rec/T-REC-E.164-201011-I/en the max phone number length is 15. Starting from page 6. That phone number was generated by the Faker library, it looks like +87 is a satellite/gps number.

[2016-04-24 00:01] #662 closed

[2016-04-24 00:54] #379 closed

[2016-04-26 12:55] batusa commented on #153
PhpStorm:

![validation autocomplete](https://cloud.githubusercontent.com/assets/5388003/14818703/e5dfbc0a-0b94-11e6-87a3-8c4554bba774.png)

[2016-04-26 13:19] batusa commented on #636
hi @hmacube , I know it's too late but I'll try to answer it anyway :)

currently, the `Extension` rule accepts only one string parameter which represents the extension. in order to create "a list" of extension that are not allowed, you can do something like that:

[code]

the validation above would return `true` because JPG is not PHP or JS or HTML.

[2016-04-27 11:11] pengu-fr opened #670 "KeySet error if input is not an array"
Using KeySet rule to validate anything else than an array with raise an error :

`v::keySet(v::key('test'))->assert(null);`

I think hasValidStructure function should simply return false if input is not an array :

[code]

[2016-04-27 12:13] batusa commented on #670
Hi @pengu-fr ,

thank you for reporting this issue! a patch is on the way!

[2016-05-02 17:35] mprince commented on #317
What if I want to validate a generic multi-dimensional array WITHOUT looping through each sub-array? For example I get a series of 'emails' that contains the same 6 fields and I want to to validate these fields against specific rules every time. Is there a way in Respect to do this. Here is an example of what I need:
`use Respect\Validation\Validator as Respect;

$validator = Respect::keySet(

[2016-05-03 09:57] francoism90 commented on #620
This still doesn't work:
[code]

Result:
`Array ( [0] => email must be valid email )`

Thanks. :)

[2016-05-05 11:08] henriquemoody commented on #670
Fixed on versions 1.0.6 and 1.1.1.

Thanks for reporting! 🐼

[2016-05-05 11:08] #670 closed

[2016-05-05 12:32] henriquemoody commented on #620
Oh, I got it. I will fix it as soon as possible.

[2016-05-05 12:41] batusa commented on #620
Should the proper behavior be the name of the chain of rules for `attribute`, change `attribute`'s name?

I was thinking about something like `KeySet` but for attributes, it would be something like:

[code]

I don't know if I took it too far...

What do you think?

[2016-05-05 16:23] henriquemoody commented on #620
Unfortunately the `AttributeSet` rule won't fix the problem, but it's a nice idea. Can you create a issue for that, @batusa?

[2016-05-05 17:40] henriquemoody commented on #620
I fixed part of the problem, but when using `findMessages()` there are a few errors. See #675.

@francoism90 and @strange-v, have you tried the `getMessages()` method?

[2016-05-06 18:10] batusa opened #677 "Create 'AttributeSet' rule"
The idea is to have this rule similar to the `KeySet` rule, where we can validate a set of `attribute` rules.

It was suggested at #620

[2016-05-10 13:31] francoism90 commented on #620
@henriquemoody Thanks for the fix! Haven't found time to test.. will try asap. :)

[2016-05-17 08:01] mhndev opened #680 "conditional validation"
consider I have 2 fields and I want my second field to be one of "1", "-1"
if my first field is "X"
and also I want my second field to be "1" if my first field is "Y"
does respect already have this kind of rule??

[2016-05-17 09:49] henriquemoody commented on #680
You should try [When](http://respect.github.io/Validation/docs/when.html) rule.

[2016-05-17 15:48] mhndev commented on #680
thanks for quick reply.
consider that I have 2 fields and my second field's validation is dependent on first field
so for example I want to say if first field is equal to "some string" then second field just can be 2 or 3 .

as I understood when rule is just used on one field not multiple fields.

[2016-05-17 15:57] henriquemoody commented on #680
I should be something like this:

[code]

[2016-05-18 10:03] mhndev commented on #680
this is my validation code and it doesn't work.

[code]

[2016-05-18 11:04] henriquemoody commented on #680
What data are you using? Can you give me some samples?

[2016-05-18 14:27] mhndev commented on #680
[code]

when $data['type'] equals to place I want value to be just "1"
and when $data['type'] equals to comment I want value to be "1" or "-1" or "+1"

[2016-05-18 21:34] r--w commented on #345
+1 for this issue, my domain r--w.com is not validated correctly;)

[2016-05-21 07:26] wouterds opened #681 "PHP Warning: mb_strlen(): Unknown encoding "" in /var/www/.../vendor/respect/validation/library/Rules/Length.php:57"
Sometimes my error reporter is sending me these errors.

[2016-05-30 12:45] chetzof opened #683 "Date validator cannot handle valid timestamps unless they are cast to string"
Does not pass validation
[code]

Passes validation
[code]

[2016-05-30 12:52] batusa commented on #683
thanks for reporting that @chetzof ! I'll have a look at it soon.

[2016-05-30 13:06] batusa commented on #680
hi @mhndev ,

from the code you posted, it worked for me:

[code]

the code above returns `true`, if I try to change the value of `value`, it returns `false`.

let us know if you have solved this issue. thanks!

[2016-05-31 13:13] redstrike opened #685 "Email validator stopped working due to egulias/email-validator's interface update"
As suggested, I am using egulias/email-validator to enforce RFC-strict mode. But Validation's Email Validator is stop working after the interface update of egulias/email-validator. I wonder should we update our code, or stick with the old version?

[2016-06-01 16:21] notflip opened #686 "Cannot use 'String' as class name as it is reserved"
I see you're using the word String as a class name. I think this is deprecated since PHP7?

[code]

[2016-06-01 17:05] batusa commented on #686
hi @notflip

what library's version are you using?

we've renamed it in order to be compatible with php7 since the version `1.0`.

[2016-06-01 21:41] notflip commented on #686
I noticed I was using an outdated version. My bad!
On 1 Jun 2016 19:05, "Emmerson Siqueira" <notifications@github.com> wrote:

[2016-06-06 10:50] nisbeti opened #687 "Re-using a rule, with additional conditions"
I define a rule `$username = v::alnum('.-_@')->noWhitespace()->length(3, 255);` so that I can re-use it anywhere. I then want to use this `$username` rule as the base rule, and add a new condition:
`$newUsername = $username->->uniqueUserField('username');`
but, this then modifies the underlying $username field.
Is it possible to create copies of base rules, which are not changed by adding addition

[2016-06-06 11:18] henriquemoody commented on #687
You can clone the current rule:

[code]

[2016-06-06 13:36] johnnymn commented on #646
+1

[2016-06-07 13:51] mscreenie commented on #620
Is this fixed?

[2016-06-07 17:08] mscreenie opened #689 "Rules ignored when asserting nested arrays with keyNested"
Tested with post data:
[code]

Rules
[code]

Being completely ignored and not throwing any exceptions, any ideas? I've tried removing notEmpty when using length.

[2016-06-07 18:28] mscreenie opened #690 "Ignore first key / array level and validate second level."
Is it possible to ignore the first level of the nested array and validate against the second? Like this

[code]
[code]
[code]

Thanks.

[2016-06-07 19:07] batusa commented on #689
to get an exception in case of failure you should use `check` or `assert` instead of `validate`.

more info here: http://respect.github.io/Validation/docs/ (_Exception types_ section).

[2016-06-07 19:20] mscreenie commented on #689
Sorry, asset was my original use, I switched to validate before posting here.

I get a different problem when using assert. A expception is thrown by I cannot collect any information about the errors from findMessages

    } catch (NestedValidationException $exception) {

        $errors = $exception->findMessages([
            'organisation' => [
                'name' => 'Center name',

[2016-06-07 19:39] batusa commented on #689
we use  `findMessages` when we want to select a specific *set/type* of rules or when we want to overwrite the default error messages.

please, look for  _Getting messages as an array by name_ and _Custom messages_ section on the docs for detailed examples.

there are other methods to get the error messages, for example: `getFullMessage` and `getMessages`.

[2016-06-07 19:50] mscreenie commented on #689
Thanks, I'll use the other methods for now but if I may be frank, findMessages should work for nested arrays / keys just as much as anything else? I may be missing something here.

It makes it difficult passing back to client views in this case JS to match up against an element. I'm going to hope I can ->setName() against keyNested.

[2016-06-08 06:53] Savsan commented on #645
Hi! I've a same problem. Russians characters can't be validate, even after i changed locale on 1251, UTF-8. How can fix it?

[2016-06-08 18:26] musaev-haybulla commented on #645
I solved this problem without making code changes. But this is not correct, because if I forget and load the composer om new version of the library, as immediately erased all what I wrote in the code. Knowledgeable guys suggested to make a fork of this library and to scratch code. Namely, to replace all the ctype functions (the benefit there is not a lot) on regular expressions.

on Russiain
Я не

[2016-06-22 12:48] neomerx opened #695 "Question. Array of nullable strings"
I've been experimenting with `optional`, `key`, `oneOf`, etc to make simple validation rule but with no luck.

If I have an array of string values where some of the keys might be omitted and values could be either nulls or non empty strings with length less than 255. What the rule should be?

[code]

For the input above expected result should be something like

[code]

[2016-06-23 17:04] batusa commented on #695
[code]

Unfortunately we *still* don't have error messages by key name.
On the [docs](http://respect.github.io/Validation/docs/) you can get more information about getting error messages.

[2016-06-28 19:38] mscreenie commented on #649
+1 Trying to do the same. So far I've only had success using Respect validating a basic contact form.

Apart from that its incredibly difficult using it in large scale projects without hard coding a lot of things.

[2016-06-28 22:19] mscreenie commented on #689
Is there any interest in changing findMessages to include nested keys at all? I would like to think I am not alone another issue is open about this https://github.com/Respect/Validation/issues/635

[2016-06-29 23:02] neomerx commented on #695
@batusa Sorry for delay in reply. I've missed the github notification

The problem with proposed solution is that it can't handle 'field2' when it's passed as an input. What I did to get closer to desirable result.

[code]
What I don't like about this implementation is that I **must** use `Exceptions` mechanism to get the error message. Is there anyway to use it something like below?
[code]
Also (

[2016-06-29 23:15] neomerx commented on #695
This sample produces readable messages though exceptions still look awkward
[code]

[2016-06-30 00:19] alganet commented on #695
How about this:

[code]

The `key` validator might have many messages to report, and some might be reported and some not. The secret is to target these messages individually. Nesting also works, like targeting `field2.subfield4.stringType` also works. You can wrap the result in `array_filter` to get only the errors, or leave these empty keys set to use the result directly in form template errors,

[2016-06-30 00:28] alganet commented on #690
Try this:

[code]

The third parameter for `key` define if it is optional or not, you might omit it to check if all items pass the rule, or only the keys if they are present.

[2016-06-30 01:10] neomerx commented on #695
@alganet I've slitely modified the sample
[code]
`$ex->getMessages()` produces nice result which looks identical to `findMessages + array_filter`. BTW `\Respect\Validation\Exceptions\NestedValidationException::findMessages` has a bug in phpDoc. It returns `array` but not `self`.

The validation is almost OK apart it can't handle empty strings. But that's kinda feature of `optional` both `null` and

[2016-06-30 11:04] mhndev opened #698 "unique validation rule using multiple parameters"
currently I have developed a rule for data uniqueness which uses just one field .
I'm using mongodb as my data storage approach and https://github.com/jenssegers/laravel-mongodb as my ODM.
now I need to make sure for example user_id , group title are unique together.
how should I develop this rule ??
this is what I've wrote and it doesn't work.

[code]

[2016-06-30 11:05] mhndev commented on #698
and this is how I use validation rule
[code]

[2016-07-01 00:04] neomerx commented on #695
After thinking a while I couldn't resisted to experiment with the code and prototyped validation logic. The prototype appeared to be surprisingly decent. Very compact and flexible. It looks it can handle any validation logic.

The example above would be
[code]

It's fully tested (100% coverage though the badge stuck at the moment). Please let me know if might be interested to have some ideas from

[2016-07-02 16:23] JamesHealdUK opened #700 "Check array key for any value in an array?"
I have a dropdown list that I want to validate, theres 3 values that can be selected and I want to make sure I can only use those specific values.

However, I want to do it inline with my `Validator::Key()` checks like so:

[code]

I have tried `equals` but it doesnt work with arrays. Is what Im trying to do possible?

[2016-07-05 09:06] henriquemoody commented on #700
You should use [in](http://respect.github.io/Validation/docs/in.html) instead.

[2016-07-08 13:32] ArneAnka opened #701 "[Question] Inject a model to a custom rule?"
Hi!

I [asked a question](http://discourse.slimframework.com/t/use-this-with-rules-for-validation/486/4?u=johan) on the slim support forum, on how to inject a model into a Respect/Validation rule.

Im thrown `Notice: Undefined property: App\Validation\Rules\EmailAvailable::$User in /app/Validation/Rules/EmailAvailable.php on line 11` and that is this [line](https://github.com/ArneAnka/slim-test/bl

[2016-07-17 14:53] aldrinmagno opened #702 "Key valition always returning false"
Hello,

Sorry for the stupid question but I really do not know where to go now.

I had been trying to figure out how to make respect/validation work all day but have not have any luck. Currently I'm using Slim Framework.

I have manage make some of the function work but when I try to use Key to validate my arrays its always returning false.

Here is my code

$post = $request->getParsedBody(); // t

[2016-07-19 19:43] FoxxMD opened #703 "using v::length() when input could be string or int"
I have a rule that looks like this

[code]

`sku` may be a string or a number. When it is a number the rule is not validating if the number > 100. Is there some way I can cast `sku` to a string before validating or some use of oneOf() that might ignore numbers?

[2016-07-21 08:49] Justin0983 opened #705 "How can I give user error message I want to give"
Hi,there.I need a favor.
I don't use default error message when I validate some data.Just give user error message I specified.

$userValidator = v::attribute('name', v::stringType()->length(1,32))
                  ->attribute('birthdate', v::date()->age(18));

$userValidator->validate($user);

like code above,how to make it happen?Such as validate 'name',give user a kind of message that 'name you

[2016-07-21 10:17] Justin0983 opened #706 "How can I translate error message of English to another Language"
Hi,all.How can I translate make error message of English to Chinese when It's fail if validate one data like 'username'.Does Validation have language packs?
Thank you for your help.

[2016-07-22 10:32] pultho commented on #627
What about a rule like `alphaLatin($pAdditional= "");`

Taking a look at [the following UTF basic latin table](http://www.utf8-zeichentabelle.de/unicode-utf8-table.pl?number=1024&utf8=dec) we can see that all latin chars are between:

* **65 - 90**
* **97 - 122**
* **195 - 207** (most latin special chars)

Now we just need to check whether **each char** is within this range by using `ord("Ä");`.

[2016-07-26 18:05] chozilla commented on #86
Hello, as fare as I can tell, the described problem is not fixed.
The **->setName()** function still does not behave as expected or described in the use cases in this discussion.

[code]
Outputs:
[code]

Whatever I try... I am not able to replace '**nameFirst**' with '**First Name**' with any means provided by the basic Validator API.

[2016-07-27 03:29] FoxxMD commented on #86
For anyone else coming across this who wants to use Respect with models and also like to have this sensible default (getting error messages with attribute name rather than value)

[code]

and then in your model:
[code]

[2016-07-28 05:46] wenbinye opened #708 "Iterable is reserved in php 7.1"
Iterable is reserved in php 7.1：
[code]

[2016-07-30 20:10] seitbekir commented on #705
It is really good question.

What about make something like in popular NodeJS validators.

like
[code]
Or
[code]

Last is not looks pretty, but it more useful;

[2016-07-30 23:58] JCMais commented on #664
This is what is getting me from using this awesome library. :disappointed:

Showing error messages by value is not intuitive. Take a form with N required fields. If the user submit almost all of them empty, he is going to get many messages saying
[code]

Which is basically useless.

[2016-08-01 11:22] pquerner opened #710 "Validator find failure"
Having checks like these:

[code]

Either reveal true or false on success.

However, is there a way to find out which, if any, element failed the validation process?
Or do I have to do this myself after checking the return value of said validation process.

Thanks!

[2016-08-01 20:52] bs-thomas commented on #620
It seems like it's still not working, thought I'm using "key" (from an array) instead of "attributes" (from an object)

[2016-08-01 23:26] mscreenie commented on #620
Yes. Im stuck with the same problem, there haven't been any updates either since I opened an separate issue regarding this.

My project is almost finished and validation is still on my to do list. I'll probably end up writing my own to handle validation just so I can complete it on time.

[2016-08-02 03:21] bs-thomas commented on #620
@mscreenie I'm just at the point of deciding to use this library or not.  Seems like their last commit on 1 Jul.  Not so long ago, but not so recent either.

I'm on Laravel and I didn't want to use their dependant validation library in case I want to do a framework switch.  But since this is such a core problem, guess I'd have to seek for other alternatives such as Valitron or just stick with Lara

[2016-08-02 07:38] mscreenie commented on #620
@bs-thomas I had considered Laravel or Symphony but haven't done so for similar reasons to yours.

Looking at Valitron - last I tried it came with some caveats with nested array validation involving forms and a few others I can't recall. Previously used Sirius, syntax was a little strange but it worked well. I tried switching back however the latest version is unusable.

I've read some Laravels do

[2016-08-02 15:59] henriquemoody commented on #710
You can have a detailed information using `assert()`, or `check()`. Doesn't it fit your needs?

[2016-08-03 08:58] henriquemoody commented on #708
Fixed by #712.

Iterable is still available for PHP < 7.1, but you can now use IterableType rule on versions 1.1.3 and 1.0.8.

Thanks for reporting! 🐼

[2016-08-03 08:58] #708 closed

[2016-08-04 07:26] henriquemoody commented on #620
Hey guys,

The past months I had no much time to spent on this library and as you can see there are no much contributors but me working on it. I moved to another country, got a new job and I'm still getting used to my new routine.

I don't know when I will have time to spend all necessary amount of hours to fix all problems we have, so I would really appreciate your help through pull requests.

Ab

[2016-08-07 18:27] auburus commented on #706
Hi!

You have a detailed explanation about how translation works [here](https://github.com/Respect/Validation/tree/master/docs#message-localization).

[2016-08-11 08:47] phaberest opened #713 "Optional but to be validated if not empty in a keyNested case"
I'm trying to write a set of classes to validate the json payload of some restful APIs.

So far I'm able to validate against rules for any of the data values, but I'm becoming crazy when trying to validate optional fields that are in fact required to be of a specified type if they are present. In addition if what I'm checking is an optional array, every child attribute has to be required whenever

[2016-08-14 19:38] pedram64 opened #715 "Please Help me => Class Validator not found!"
I'm new in composer but I could get vendor, `composer.lock` and `composer.json` from cmd then I paste them to my project without Validation_Master folder.
My project Path: `C:\wamp64\www\php Projects\project 1\(here there are test.php and vendor, composer.lock and composer.json)`
Validation_Master folder path: `C:\wamp64\www\php Projects\Validation_Master`
My Code is:
[code]
But Give Me This Error

[2016-08-15 21:03] gimler opened #716 "validation optional embed attributes"
i try to validate a optional `embed` object in my main object. But it doesn't work.
- `embed` is optional
- `embed` is set then it must have a `required` value

validation code

[code]

[2016-08-16 03:06] batusa commented on #715
Try to run `composer dump-autoload`

Reference: https://getcomposer.org/doc/03-cli.md#dump-autoload

[2016-08-16 03:24] batusa commented on #716
[code]

I hope this is what you're looking for

[2016-08-16 05:45] gimler commented on #716
The problem is that i must use the mandatory paramter because i encode json data.

[code]

[2016-08-16 06:26] pedram64 commented on #715
with the former code and the `composer dump-autoload` nothing happened and still get error.
I really don't understand what's wrong??!

[2016-08-17 18:54] pedram64 commented on #715
SOLVED: I used the composer.json that is in the Validation_Master Folder while I must create my own composer.json.
that was stupid LOL

[2016-08-17 18:54] #715 closed

[2016-08-19 13:08] CasperHK opened #717 "Please Help! `Fatal error: Uncaught Error: Call to undefined function Respect\Validation\Rules\mb_strlen() `"
When I run the following method, I got error `Fatal error: Uncaught Error: Call to undefined function Respect\Validation\Rules\mb_strlen() `.

[code]

I called it in this way:

[code]

### Error Message

How to solve it?

[2016-08-19 17:35] mscreenie commented on #620
@henriquemoody  Thanks for explaining , glad to hear you've started a new job. Kinda in the same position myself of getting used to a new routine.

[2016-08-20 17:00] auburus commented on #717
It means that you are missing the required extension `mbstring`. I think it's enabled by default on some Linux distributions, but I'm not sure.

Please, use a version of PHP that includes this extension (or [install it](http://php.net/manual/en/mbstring.installation.php) yourself :smile: )

[2016-08-20 17:09] CasperHK commented on #717
I am using Ubuntu 16.04 with php7.0 running on the service apache2

| Key     | Value              |
|:---------|:-------------------|
| OS      | Ubuntu 16.04 |
| PHP    | php7.0           |
| Server | apache2        |

[2016-08-20 17:16] auburus commented on #717
Come on, I've searched `install php mbstring ubuntu` on google, and [this answer](http://stackoverflow.com/a/37011840) was right in the first page...

[2016-08-20 17:20] CasperHK commented on #717
Oh~ I'm so stupid. 😥

[2016-08-20 17:23] auburus commented on #717
Don't worry at all, we all start at some point :blush:

Mark the issue as closed if you solve it, please

[2016-08-20 17:31] #717 closed

[2016-08-25 11:21] daffoxdev opened #719 "How can I setName to multiple fields?"
Hi!
Can u help me please. Im trying to add name of fields to multiple rules using setName(), but looks like it not working.

Idea of code is something like this:
[code]

This block not exactly what I used(I not tested it), because there I use layer class to add rules and other stuff, but the idea is same, generally I want to show idea.

If we will dump ```$this->errors```, we will see that {{name}

[2016-08-26 07:34] daffoxdev commented on #719
Looks like it is old bug https://github.com/Respect/Validation/issues/620 . Sadly that it not repaired still.

[2016-08-26 07:48] daffoxdev commented on #645
I have created rule anyLetter that check for regexp for any utf-8 letter. You can create same only for russian. Read how to create own rules for this library.

[code]

and Exception
[code]

Something like this. I think you got the main idea. Its clear way to not changing source code as you did.
 Just take idea and write own rules and use them as you wish.

PS. Need to do class for test, but I have

[2016-08-26 08:43] Savsan commented on #645
Thanks!

[2016-08-26 19:06] dlee3 opened #722 "Custom Rules Documentation"
I recently created a custom rule for a project I was working on and noticed that the documentation for creating custom rules is not quite complete. I will be creating an updated version and sending a pull request later today.

[2016-09-03 09:33] mscreenie opened #724 "Any new updates on recent KeyNested and SetName bugs?"
Hi

I just wanted to bump this and ask if there is any plans to fix these bugs by current maintainers. Apologies for being persistent (I know its free software and support is free), the bugs are affecting two important functions.  @batusa  @henriquemoody @alganet

Issues related:
https://github.com/Respect/Validation/issues/719
https://github.com/Respect/Validation/issues/620
https://github.com/Re

[2016-09-05 17:28] lourdrivera123 opened #726 "Validation on exact length"
Is there a validation to set exact number of length like 4 numbers no more no less.

[2016-09-12 05:01] CameronHall opened #727 "keyNested Validator data type check should be JIT"
Currently, the keyNested validator determines the applicable getReference function by checking the data type of the variable that you're checking against.

[code]

The above example will encounter a 'Fatal Error' with the reason of "Cannot use object of type stdClass as array".

This is because `$validateThis` is an array and, the keyNested validator selects the correct getReference function based

[2016-09-13 09:35] henriquemoody commented on #727
Fixed on versions 1.0.10 and 1.1.5.

Thanks for reporting! 🐼

[2016-09-13 09:35] #727 closed

[2016-09-15 15:46] aight8 commented on #664
This issue makes the whole library useless sorry.

[2016-09-17 19:37] henriquemoody commented on #724
Those bugs were finally fixed on versions [1.0.11](https://packagist.org/packages/respect/validation#1.0.11) and [1.1.6](https://packagist.org/packages/respect/validation#1.1.6) by #675.

I'm very sorry about my delay (I talked about that already https://github.com/Respect/Validation/issues/620#issuecomment-237474435).

Thanks for reporting! :panda_face:

[2016-09-17 19:37] #724 closed

[2016-09-17 19:37] henriquemoody commented on #719
This bug was finally fixed on versions [1.0.11](https://packagist.org/packages/respect/validation#1.0.11) and [1.1.6](https://packagist.org/packages/respect/validation#1.1.6) by #675.

I'm very sorry about my delay (I talked about that already https://github.com/Respect/Validation/issues/620#issuecomment-237474435).

Thanks for reporting! :panda_face:

[2016-09-17 19:37] #719 closed

[2016-09-17 19:38] henriquemoody commented on #620
This bug was finally fixed on versions [1.0.11](https://packagist.org/packages/respect/validation#1.0.11) and [1.1.6](https://packagist.org/packages/respect/validation#1.1.6) by #675.

I'm very sorry about my delay (I talked about that already https://github.com/Respect/Validation/issues/620#issuecomment-237474435).

Thanks for reporting! :panda_face:

[2016-09-17 19:38] #620 closed

[2016-09-17 19:38] henriquemoody commented on #689
This bug was finally fixed on versions [1.0.11](https://packagist.org/packages/respect/validation#1.0.11) and [1.1.6](https://packagist.org/packages/respect/validation#1.1.6) by #675.

I'm very sorry about my delay (I talked about that already https://github.com/Respect/Validation/issues/620#issuecomment-237474435).

Thanks for reporting! :panda_face:

[2016-09-17 19:38] #689 closed

[2016-09-17 21:02] henriquemoody commented on #646
Those bugs were finally fixed on versions [1.0.12](https://packagist.org/packages/respect/validation#1.0.12) and [1.1.7](https://packagist.org/packages/respect/validation#1.1.7) by #729.

Thanks for reporting! :panda_face:

[2016-09-17 21:02] #646 closed

[2016-09-17 21:03] henriquemoody commented on #319
Those bugs were finally fixed on versions [1.0.12](https://packagist.org/packages/respect/validation#1.0.12) and [1.1.7](https://packagist.org/packages/respect/validation#1.1.7) by #729.

Thanks for reporting! :panda_face:

[2016-09-17 21:03] #319 closed

[2016-09-17 23:23] henriquemoody commented on #702
Keep in mind that every `v::rule()` creates a new object. What you're doing (apparently) is reusing the same object, `$this->v`, so, in the second call you're adding to the chain `email()`.

What you're entire chain is saying is: a value with a key `txtEmail` that's also an email, which is impossible because values with keys (arrays or ArrayAccess) can't be also emails.

You should try:

[code]

O

[2016-09-17 23:23] #702 closed

[2016-09-17 23:24] #700 closed

[2016-09-17 23:26] henriquemoody commented on #690
If @alganet's answer is not enough feel free to reopen this issue @mscreenie. :)

[2016-09-17 23:26] #690 closed

[2016-09-17 23:27] henriquemoody commented on #710
If my answer is not enough, feel free to reopen this issue or create a new one any time.

🐼

[2016-09-17 23:27] #710 closed

[2016-09-17 23:28] henriquemoody commented on #706
@Justin0983, unfortunately  we don't have language packs...

If @auburus's answer is not enough, feel free to reopen this issue or create a new one any time.

🐼

[2016-09-17 23:28] #706 closed

[2016-09-17 23:32] henriquemoody commented on #705
You can specify your own messages with `findMessages()`, see http://respect.github.io/Validation/docs/#getting-messages-as-an-array-by-name

If my answer is not enough, feel free to reopen this issue or create a new one any time.

🐼

[2016-09-17 23:32] #705 closed

[2016-09-17 23:34] henriquemoody commented on #726
You can use: http://respect.github.io/Validation/docs/length.html. Just keep in mind that it's made for strings not integers, so you might need to convert the value to string first.

If my answer is not enough, feel free to reopen this issue or create a new one any time.

🐼

[2016-09-17 23:34] #726 closed

[2016-09-18 00:49] mscreenie commented on #690
If it helps anyone, nested keys work too with ignoring first level or any level I believe:

[code]

[code]
But you may have trouble accessing a specific messaage level

[code]

[2016-09-18 09:09] henriquemoody commented on #690
Thanks for the appreciation @mscreenie! 😄

Keep in mind that it's going to get the message of the rule that fails, so if the exception it LengthException there is no `{{keyName}}` on it, although we set the `{{name}}` as the same of its parent, so by doing:

[code]

You might get:

[code]

But unfortunately you can't know the name of the parent because the names must be defined to be shown.

PS.:

[2016-09-18 10:04] mscreenie commented on #690
How would you access building level errors?

    print_r(array_filter($exception->findMessages([
        'each.name' => '{{keyName}} name is invalid etc',
        'each.daymark' => 'Center time',
        'each.building.enable' => 'Building enabled',
        'each.building.powerdown' => 'Building power down state',
    ])));

I get error

[2016-09-18 10:55] henriquemoody commented on #690
@mscreenie Can you send me the input, the chain and the version you're using there then I can reproduce the same error?

[2016-09-18 13:48] mscreenie commented on #690
Yes.

I am using the latest version. Here is the full file and differences in output from 1.1.2 and latest.

I am excluding the key name entirely, something which is possible in a HTML form if a radio button / checkbox is not clicked.

`
require_once('../_library/Respect/vendor/autoload.php');

use Respect\Validation\Exceptions\NestedValidationException;
use Respect\Validation\Validator as v;

$in

[2016-09-19 09:26] henriquemoody commented on #683
Fixed on versions 1.0.13 and 1.1.8.

Thanks for reporting! 🐼

[2016-09-19 09:26] #683 closed

[2016-09-19 16:12] mscreenie commented on #690
Looks like it is only when a field / key is missing, the error is produced.

[2016-09-20 06:48] henriquemoody commented on #690
@mscreenie, the problem you reported was fixed, although I extremely recommend you to not use the `dev-master` version on production.

[2016-09-20 14:57] lode commented on #685
Any news on this? It would be great if the email validation gets fixed.

[2016-09-20 15:17] lode commented on #685
Sorry, nevermind. The old version of egulias/email-validator still works fine. When requiring using `composer require egulias/email-validator "^1"` or something everything runs smooth.

[2016-09-20 15:19] #685 closed

[2016-09-20 21:33] mscreenie commented on #690
Thanks. I confirm it working.

Not a major issue but using keyNested inside a key or each does not return the correct nested messages structure.

I have created a working example - The data and rules are a little rough.

[code]

[2016-09-20 21:40] prisis opened #734 "Can i chain Not and Optional on the same call?"
Example:

v:not(v:alpha())->optional(v:noWhitespace())->validate()

[2016-09-21 18:40] prisis commented on #734
I was wrong what optional do.

(Validates if the given input is optional or not. By optional we consider null or an empty string ('').)

[2016-09-21 18:40] #734 closed

[2016-09-27 12:54] dericeira opened #736 "String validator with at least 1 char in uppercase and 1 char in lowercase"
Hello.

I want to request a new filter for password which requires at least 1 char in uppercase, 1 char in lowercase and 1 number.

Example:

[code]

[2016-10-03 01:07] damanzano opened #737 "Image Validatos tells a class is missing"
class 'finfo' not found /respect/validation/library/Rules/Image.php on line 23

[2016-10-11 15:19] schnittstabil commented on #664
I really like the idea, but how should nested arrays be handled? E.g.:

[code]
[code]

[2016-10-11 16:17] jonsa opened #739 "When using the When-rule the error message is '1' when no else is provided"
[code]

prints `1`

[2016-10-12 00:00] cwalsh opened #740 "Numeric class considered deprecated in PHP7"
According to https://secure.php.net/manual/en/migration70.incompatible.php#migration70.incompatible.other.classes `Numeric` should be considered deprecated as a class name. It doesn't cause an error in PHP7 yet, unlike `Float` etc. but it might be worth changing this sooner rather than later.

In the comments for https://github.com/Respect/Validation/issues/362 it was suggested that among the othe

[2016-10-12 09:26] Budolfsen opened #741 "findMessage only takes the first custom message."
I am using your plugin to validate a orderform - and I want the error-messages to be in danish.

The code I am using looks like this :

[code]

But it only takes the first custom message - and show it - all the others doen't show.

First time I am using this plugin - so I don't know if it is a bug or it is my code that is screwing it up.

Hope someone can help.

[2016-10-13 09:59] innobrig opened #742 "Argument 2 passed to Egulias\EmailValidator\EmailValidator::isValid() must be an instance of Egulias\EmailValidator\Validation\EmailValidation"
I am using the following code to attempt to validate an email address:

    if (!Validator::email()->validate($email)) {
            // do something here
     }

and I'm getting the following error:

I have the following entry in my composer.json

    "egulias/email-validator": "^2.1"

and the files are in place under my /vendor directory.

Am I doing something wrong or is this a bug?

[2016-10-13 21:50] tmblog opened #743 "Rules/AbstractComposite.php on line 22"
I uploaded the vendor and autoloader etc, when I run the validator I am getting this error:

`Parse error: syntax error, unexpected '.', expecting '&' or variable (T_VARIABLE) in /home/userx/public_html/d/library/Rules/AbstractComposite.php on line 22`

Any help appreciated, thanks

[2016-10-13 22:27] meinzeugde commented on #377
I know this thread is a bit old, but I have just the same problem. I am using composer and have locked a specific version of respect/validation (1.1.9). on my local server everything works fine after have a "composer dump-autoload -o". Capistrano with Composer plugin does just the same when deploying to my server. Even the classmap (vendor\composer\autoload_classmap.php) is generated exactly the s

[2016-10-13 22:35] augustohp commented on #377
@meinzeugde Is the rule of your namespace declared on `composer.json`? I am considering you are executing code that already added a [custom namespace][1] to `Respect\Validation\Validator`.

PS: I created [a guide on how to do custom rules that might be more clear than the documentation][2].

[1]: https://github.com/Respect/Validation/blob/master/docs/README.md#custom-rules
[2]: https://gist.github

[2016-10-13 22:50] meinzeugde commented on #377
i tried the following now:

1. composer.json -> add a separate namespace for the rules besides the app namespace
[code]

2. index.php -> changed...
[code]
....to...
[code]

No effect...same error.

As i said...if i do `require 'app/validation/rules/myCustomRule.php'` within my index.php everything works both on localhost and on my server. I feared there would be an error because of requiring files

[2016-10-13 23:17] meinzeugde commented on #377
Solved...see edit #3.

[2016-10-14 13:42] joubertredrat opened #744 "Feature suggestion - validate decimal on float"
Hi guys,

I have a suggestion for FloatVal validate, today, you validate as below:

[code]

But in some cases, we need to validate decimal too, then I proposal to validate decimal opcional as below

[code]

Then, what you think guys? if like this, talk me, I already forked this repo and I can develop this implementation.

[2016-10-14 13:45] souzace commented on #742
I have some problem, so.. while Respect don't fix the issue, i changed my composer of "egulias/email-validator": "^2.1" to "egulias/email-validator": "~2.1" make a composer update and followed the instructions on egulias github profile https://github.com/egulias/EmailValidator
`use Egulias\EmailValidator\EmailValidator;
use Egulias\EmailValidator\Validation\RFCValidation;

$validator = new EmailVa

[2016-10-14 22:44] augustohp commented on #377
Nice to know. thanks for the update! 🙇

[2016-10-15 01:56] innobrig commented on #742
Thanks for your suggestion, your workaround is just what I needed.

[2016-10-15 11:41] souzace commented on #742
Your welcome brother!

[2016-10-16 21:23] #743 closed

[2016-10-18 21:11] prisis commented on #737
You need to install the fileinfo extension for php.

[2016-10-26 05:49] dvv opened #747 "V::regex chokes on non-strings"
Hi!

This https://github.com/Respect/Validation/blob/master/library/Rules/Regex.php#L25 is not guarded against input being, say, an array, and causes critical error instead of validation error.

Neither
[code]
nor
[code]
does not ensure input is string prior to checking against regex.

Is this intended? If yes, how to cope with the issue without subclassing Regex/RegexException?

TIA,
--Vladimir

[2016-10-26 20:40] bacheson commented on #740
PHP Fatal error:  Cannot use 'Int' as class name as it is reserved in .../respect/validation/library/Rules/Int.php on line 4"

[2016-10-28 12:57] undercloud opened #748 "File validator feature"
Usefull for uploads, etc... e.g.:

[code]

[2016-10-29 12:31] henriquemoody commented on #740
Thanks for reporting, @cwalsh! It was really missed! 😞 I will check all of then again.

@bacheson, please upgrade the version of the library, then you're not going to have this problem.

[2016-10-29 13:36] henriquemoody commented on #742
I'm sorry by my delay. This was fixed by #750.

The fix is available on versions 1.0.15 and 1.1.10.

Thanks for reporting! 🐼

[2016-10-29 13:36] #742 closed

[2016-10-29 13:36] henriquemoody commented on #747
This was fixed by #749.

The fix is available on versions 1.0.15 and 1.1.10.

Thanks for reporting! 🐼

[2016-10-29 13:36] #747 closed

[2016-11-06 17:53] #740 closed

[2016-11-08 12:54] sbshara opened #757 "alnum() validates properly, but incorrect error"
Dears,

When using alnum, it validates as required (a-z, A-Z, 0-9) but when something is wrong, it's giving a misleading error (field must contain only letters (a-z) and digits (0-9).

Can you please add the (A-Z) to the error.

Thank you.

[2016-11-09 01:12] cwalsh commented on #740
Thank you, @henriquemoody!

[2016-11-09 15:23] fr3dm4n opened #758 "lykxchvvykcvhv.aksdjfb alksdj aiusdkv"

[2016-11-09 15:23] #758 closed

[2016-11-09 15:23] fr3dm4n commented on #758
I am so sry! My fucking cat!

[2016-11-09 18:02] henriquemoody commented on #758
Dude, It made my day Hahahahahahhahahahahhaahahahhahhahahahahhahahahahahhahahahahahhahahahahah

[2016-11-09 20:09] fr3dm4n commented on #758
Glad to hear...

[2016-11-10 12:28] codmpm opened #759 "Validating indexed subarrays?"
Hi guys,

Sorry for crossposting, but I think this is a more appropriate place...
http://stackoverflow.com/questions/40511540/validating-sub-arrays-with-respect-validation

I've used [Respect/Validation](https://github.com/Respect/Validation) successfully for my general concern.

But now I'm validating some form Input where the user can check multiple checkboxes and the data is send with an array.

[2016-11-10 13:44] alganet commented on #759
Maybe the [Each](http://respect.github.io/Validation/docs/each.html) validator works best for this case. Something like `->key('options', v::optional(v::arrayType()->each(v::intVal())))`.

[2016-11-10 13:54] codmpm commented on #759
You sir, are my hero.
This is far too simple if I had not overread `each()`...

Cheers!

[2016-11-12 10:37] #759 closed

[2016-11-13 19:01] shivenigma opened #760 "Unwanted additional error message in some cases"
This is a great package, I am using it on my second project now. I like everything but in some cases, it returns a not so meaningful error message along with the validation errors.
[code]
By using the above rules I am getting the following error messages

In the above array the second message doesn't convey any meaning for me, at least for my requirement. Can I remove that generic message and only

[2016-11-14 14:56] rzmz opened #761 "String validator and utf-8 symbols"
Hi, awesome package, I just cannot understand, why does the string validator not work with utf-8 symbols. For an example: this does not validate as correct string:

v::alnum()->validate('müstika');

but this does:

v::alnum()->validate('mystika');

can I somehow make the first string validate or is this something that cannot be done with this package?

[2016-11-14 15:03] rzmz commented on #761
PS: I have set the correct locale but my problem is that sometimes users with a specific locale want to input characters from another locale. Anyhow, apreciate your help.

[2016-11-16 08:11] fracz commented on #87
I am seeing the same behavior (segfault) on PHP 7.0.8 (Windows), but only when I run tests with Code Coverage enabled (with the `--coverage-clover` flag to `phpunit` command).

[2016-11-16 15:11] henriquemoody commented on #761
I created #762 in order to fix this issue.

However, before I merge it I would like to understand in which scenario do you intent to use this validator?

[2016-11-16 15:11] henriquemoody commented on #645
I created #762 in order to fix this issue.

However, before I merge it I would like to understand in which scenario do you intent to use this validator?

[2016-11-16 16:04] henriquemoody commented on #627
I created #762 in order to fix this issue.

However, before I merge it I would like to understand in which scenario do you intent to use this validator?

[2016-11-16 16:05] henriquemoody commented on #92
I created #762 in order to fix this issue.

However, before I merge it I would like to understand in which scenario do you intent to use this validator?

[2016-11-16 18:40] j2deme commented on #92
It's been a long time since I needed to use this feature and to be honest,
I don't remember the use case. So if nobody needs it, feel free to merge
and close this issue.

El mié., 16 de nov. de 2016 10:05 AM, Henrique Moody <
notifications@github.com> escribió:

I created #762 <https://github.com/Respect/Validation/pull/762> in order to
fix this issue.

However, before I merge it I would like to u

[2016-11-17 06:50] Savsan commented on #645
Hello! I make my first, simple app and i used validator for form in controllers of slim 3 microframework. Sorry for my English, I am studying it yet. Have you already written a regular expression for Russian language?

[2016-11-17 07:02] Savsan commented on #645
Oh, sorry for my question. I didn't see that you have already written rurels.

[2016-11-17 08:51] henriquemoody commented on #645
No problem, but still, what the validation you want to perform? Which field, for example?

[2016-11-17 10:13] Savsan commented on #645
For example: names of places, cities, rivers, lakes, seas, oceans, first - last - middle names of people (can contain an apostrophe, if it'll be transliteration from foreign languages), addresses, education and .... )

Russian text (text areas for example) can contain a signs like;  ' " : ; !  ( ) , + - * / = . and also english symbols

Email addresses, in Russia - only on English.
Login areas lik

[2016-11-17 12:46] pultho commented on #627
I think it's helpful for validating texts or names so that you can make sure that your input doesn't contain any special characters or symbols.

[2016-11-17 22:34] fracz opened #763 "Key validator causes segmentation fault when running PHPUnit with code coverage"
This is somehow related to https://github.com/Respect/Validation/issues/87 but with different causes. The segmentation faults show up when I run the unit tests with code coverage (with the `--coverage-clover` flag to `phpunit` command). PHP 7.0.8, Windows. It is reproducible on at least two machines.

I have tracked this down to using the `key` validator. The following test causes segmentation err

[2016-11-17 22:51] fracz commented on #763
Upgrading XDebug from 2.4.1 to 2.5.0.RC1 solved the issue!

[2016-11-17 22:51] #763 closed

[2016-11-23 20:42] musaev-haybulla commented on #645
henriquemoody,
this opportunity I need to check some of the form fields (name, surname, and so on.) in the absence of any unnecessary characters.

You could not say how soon your pull request with these long-awaited revisions will be commit? ..

[2016-11-27 07:03] PascalZajac commented on #681
Just wanted to add to this report, we've seen a lot of these warnings in the last month. Our particular validation setup is:

[code]

(The `add` method just defines an array of validators that are iterated over at runtime)

The problem seems to happen when the `source` field is `null`, but I'm not sure what sort of request causes `mb_detect_encoding` to fail.

[2016-11-28 03:51] JCMais commented on #86
Any updates on this?

The exception keeps using the property key and not the name that was set to the field.

[2016-11-28 03:57] JCMais commented on #86
After some tries, for people having issues while trying to validate keys, make sure you are calling setName to the validators for the key:
[code]

[code]

[2016-11-28 22:02] henriquemoody commented on #645
Now is more clear what is the intention here.

According to [Wikipedia](https://en.wikipedia.org/wiki/Alphanumeric):

That said, the one we have is correct, and changing it would make it wrong. What is needed is a new rule, with a new name and a new purpose. I'm planning to finish it this week, and I'm gonna make it more clear on the documentation. The rule will be probably called _Name_ but I'm v

[2016-11-28 22:02] henriquemoody commented on #627
Now is more clear what is the intention here.

According to [Wikipedia](https://en.wikipedia.org/wiki/Alphanumeric):

That said, the one we have is correct, and changing it would make it wrong. What is needed is a new rule, with a new name and a new purpose. I'm planning to finish it this week, and I'm gonna make it more clear on the documentation. The rule will be probably called _Name_ but I'm v

[2016-11-28 22:03] henriquemoody commented on #92
Now is more clear what is the intention here.

According to [Wikipedia](https://en.wikipedia.org/wiki/Alphanumeric):

That said, the one we have is correct, and changing it would make it wrong. What is needed is a new rule, with a new name and a new purpose. I'm planning to finish it this week, and I'm gonna make it more clear on the documentation. The rule will be probably called _Name_ but I'm v

[2016-11-28 22:04] henriquemoody commented on #761
Now is more clear what is the intention here.

According to [Wikipedia](https://en.wikipedia.org/wiki/Alphanumeric):

That said, the one we have is correct, and changing it would make it wrong. What is needed is a new rule, with a new name and a new purpose. I'm planning to finish it this week, and I'm gonna make it more clear on the documentation. The rule will be probably called _Name_ but I'm v

[2016-11-29 02:08] williamespindola commented on #760
You can try replace the messages, see docs https://github.com/Respect/Validation/blob/master/docs/README.md#informative-exceptions

[2016-11-29 02:13] williamespindola commented on #757
I think the error messages covers the simples functionality, but you can change it as you wish, see how to replace error messages https://github.com/Respect/Validation/blob/master/docs/README.md#custom-messages

[2016-12-04 08:37] bradynpoulsen opened #765 "Support for XOR or rules"
You are currently able to check for `AllOf` (logical AND), `NoneOf` (negative logical AND) and `OneOf` (logical OR), but you are not able to do `OnlyOneOf` (logical XOR).

Here is a simple expected result case:

[code]

[2016-12-04 19:46] bradynpoulsen opened #767 "Using reflection to resolve rule classes"
I was just looking through the `Factory::rule` method and noticed that it uses `ReflectionClass` as its approach to check that it's a valid rule.

Is there a reason why ReflectionClass was used instead of `is_subclass_of` and `new {$class}`?
 * `is_subclass_of` has been available since PHP 4

[2016-12-04 20:19] bradynpoulsen commented on #767
Here is a benchmark results (and script) I performed to verify that `is_subclass_of` would be faster than Reflection.
[code]
[benchmark.php.txt](https://github.com/Respect/Validation/files/629788/benchmark.php.txt)

[2016-12-07 12:24] #687 closed

[2016-12-08 15:51] Hirbod commented on #761
Any news on this? "Name" would be perfect on this, I also reverted to "stringType" which is actually not really correct for this purpose.

[2016-12-08 16:32] Hirbod opened #769 "Nested Validation // Ideas / Questions"
Hi,

im struggling around to understand the NestedValidations.

[code]

My Questions:

1) How to translate
"All of the required rules must pass for {{name))". I was already able to translate the real error messages, but not that "introducing" line.

2) The introducing-line repeats for every group, while not having a real group retrospective to the array. IMHO this is confusing, as you don't know w

[2016-12-13 07:45] JasonKid opened #770 "May be a bug"
Why `Validator::positive()->between(0x01, 0xFF, true)->validate(‘4345g’)` returns `true` but `Validator::positive()->between(0x01, 0xFF, true)->validate(‘555g’)` returns `false`?

[2016-12-13 23:44] andysnell commented on #770
I'm not sure if this is so much a bug as it is relying too much on implicit type juggling, as you are passing non-numeric strings to be evaluated as integers.  The `between()` method relies on the `filterInterval() method I've copied below.  What is happening is that when you pass try to validate the string '555g' it fails the first, second, and third if statements and is returned as itself, which

[2016-12-19 02:52] JasonKid commented on #770
@andysnell thanks for your time, I've understood it~

[2016-12-19 02:52] #770 closed

[2016-12-19 16:19] WalhallaX opened #771 "Getting started ...."
Hello,

I'm sorry for posting this request on Github.
I want to use Respect/Validation in my project, but  don't have experience with composer. I am developing locally with Xampp. I have installed composer and ran the mentioned command in the manual.

No error has been displayed. I think the Installation went fine. There is a folder at "\xampp\php\vendor\respect\Validation" containing the data.

I

[2016-12-20 09:32] copynpaste commented on #771
`require 'vendor/autoload.php';`

Build your dependencies local and push them all together to your server.

[2016-12-20 16:06] WalhallaX commented on #771
Thank you - I got it.
I also read a tutorial on composer/autoload.
Now I understand the system.

The first thing I tried was this basic example:
`$number = 123;
v::numericVal()->validate($number); // true`

It throws an error:

But everything else I tried worked. Nice

[2016-12-20 20:05] WalhallaX commented on #771
Oh, this rule was renamed. "Numeric" works ...

[2016-12-28 12:00] bytetonight commented on #769
`$errors = $exception->findMessages([
                'stringType' => '{{name}} darf keine Sonderzeichen enthalten',
                'alnum' => '{{name}} darf nur aus Zahlen und Buchstaben bestehen',
                'length' => '{{name}} darf nicht länger als 32 Zeichen sein',
                'digit' => '{{name}} darf nur aus Zahlen bestehen',
                'email' => '{{name}} ist keine gültige

[2016-12-28 13:18] bytetonight commented on #769
For now my quick & dirty work-around is :

[code]

[2017-01-08 03:19] shadowhand opened #774 "Prevent exposure of values"
I work in health care IT and want to be able to use this package. The problem is that there appears to be no way to prevent exposure of input data in exceptions. In terms of error reporting, this is not a problem, since it can be assumed that the user receiving the error is the one inputting the data.  The problem is that any exception that contains [PHI](https://en.wikipedia.org/wiki/Protected_he

[2017-01-11 10:58] DavidePastore opened #775 "Validate a single IP or a series of IP without range"
I'm using the IP validator and I'd like to not use the range but a single IP or a series of IP.
For example:

[code]
You could say that I could just use `v::in(...)` but this is something connected to the IP world and I think this should be included in the validator.
It would be awesome if this library could support this.
Anyway I could help to make this change.

[2017-01-15 22:15] fracz opened #776 "Attribute validator does not work with privately inherited fields"
Example:

[code]

IMO, it's not intuitive that the second validation fails because of the `private` field modifier. Changing it to the `protected` makes the validation pass.

While I understood the logic behind this when I discovered that `protected` works, I thing it might be worth mentioning in the docs that the `attribute` validator behaves in this way.

[2017-01-25 16:49] wallacemaxters opened #781 "Is possible validate a file using multiple mimes?"
For example:
[code]

is possible? I see in the documentation that seems to work now with only one option of mime.

[2017-01-25 23:07] chozilla commented on #86
I thought my example where i call setName() in like 7 different places showed that this is not the case...

[2017-01-26 01:24] JCMais commented on #86
@chozilla you probably are using an outdated version. Because I get the correct output with the code I posted.

[2017-01-26 13:47] henriquemoody commented on #781
You can use `v::oneOf(v::mime('image/png'), v::mime('image/gif'), v::mime('application/pdf'))`

[2017-01-26 13:47] #781 closed

[2017-01-26 21:15] cyberiano opened #782 "Fixed length and message"
What about this?

As i saw on documentation, the way to validate fixed lenght is:

`v::length(10, 10)`

But message returns:

And should be something like:

Isn`t it?

[2017-01-27 20:08] pixelfriese commented on #610
+1 I have the same problem. It is not possible to set a nested array of arguments for the findMessages() function.

[2017-01-30 14:15] AxessWeb opened #783 "Validator Numeric / NumericVal"
Hi,

After `composer update`, validator Numeric does not change in NumericVal..

I have last vesion (1.1.11)

[2017-02-05 13:54] imsajjid opened #788 "Contribution for CodeIgniter 3. Integration"
Can you specify the usage of the Library in Codeigniter Framework?

[2017-02-05 14:03] #765 closed

[2017-02-09 22:12] InsaneScripts opened #791 "Please add a .gitattributes file"
Could you please add a `.gitattributes` file that excludes the `/docs` and `/tests` directories?

Thanks a lot :smiley:

[2017-02-10 13:56] henriquemoody commented on #791
Fixed by d14a87c6c7ea0dc37933519bc54c5aaffd11599a

Thanks for reporting! 🐼

[2017-02-10 13:56] #791 closed

[2017-02-12 17:07] henriquemoody commented on #783
It's not available on a existing version, since it breaks the backward compatibility we need a new release for that.

[2017-02-12 17:25] #782 closed

[2017-02-12 17:25] henriquemoody commented on #782
Thanks for reporting! 🐼

[2017-02-12 19:04] shackrock opened #793 "If not used w/ Composer, what files should be included?"
Due to composer autoloader issues with this library (ref: http://stackoverflow.com/questions/42181760/composer-autoload-namespaces-array-is-empty-but-it-is-downloading-my-packages) - I would like to include the necessary files manually.  What files or code may be required to accomplish this so that I can use Validator within my class scope?  Thanks for the help!

[2017-02-16 12:19] #793 closed

[2017-02-16 12:20] shackrock opened #794 "Using an Array to check against, while also all Catching Errors for display"
Hi all.  I know Github may not be the right place for Q&A/Help, but I don't know where else the community is active (maybe that can be added to the readme for "if you need more help..."

I am attempting to catch errors utilizing Validator. I used their example to create an array of checks. Although that seems to work ok, I then attempted to catch any error messages so that I could display it to th

[2017-02-16 13:19] copynpaste commented on #794
Try Stackoverflow: http://stackoverflow.com/questions/tagged/respect-validation

[2017-02-16 16:13] henriquemoody commented on #794
http://stackoverflow.com/a/42279178/1419363

Thanks for reporting! 🐼

[2017-02-16 16:13] #794 closed

[2017-02-20 15:59] #686 closed

[2017-02-26 00:27] teseo commented on #701
Did you get any progress on this?

[2017-02-27 17:02] henriquemoody commented on #701
This is not a Respect problem, neither a Slim problem, this is a OOP problem.

That's your rule there:

[code]

The `$this->UserModel` is not defined in any place on this class and it needs to be injected somehow:

[code]

So, everytime you use this rule you have to inject that on the constructor, like:

[code]

Or, if you add your custom namespace:

[code]

[2017-02-27 17:02] #701 closed

[2017-03-01 22:21] jstewmon opened #796 "NestedValidationException::getFullMessage is missing messages when one nested validator fails"
If only one nested validator fails, the list of messages does not contain the message indicating which parent validator failed.

Here's an updated version of `assert-with-keys.phpt` that demonstrates the issue:

[code]

[code]

I think the problem comes from this block in NestedValidationException::getIterator:

[code]

Removing that block results in more verbose message nesting being reported, wh

[2017-03-02 10:14] christianmalek opened #797 "Validating an required attribute with optional value"
Hi,

How can I validate an object attribute whose value is optional, but the attribute's presence is mandatory?

[2017-03-02 10:18] christianmalek commented on #797
It was too easy. I just had to do call v::attribute()` without second parameter.

[2017-03-02 10:18] #797 closed

[2017-03-02 22:40] jstewmon commented on #796
I figured out a solution and submitted a PR that passes all current test cases and two new cases covering both `Key` and `Attribute` validators.

[2017-03-04 19:51] shackrock commented on #771
I will note that this needs to be addressed in the documentation, as the docs still reference numericVal:
https://github.com/Respect/Validation/blob/master/docs/NumericVal.md
and
https://github.com/Respect/Validation/blob/master/docs/VALIDATORS.md links to the above page.

[2017-03-10 07:54] fracz opened #799 "Array to string conversion in ValidationException.php on line 70 when using array method reference"
[The docs](https://github.com/Respect/Validation/blob/master/docs/Call.md) say I can use an array notation for callback for both `call` and `callback` validators. However, the following code resutls in

[code]

It is only a notice - I know. But notices break PHPUnit tests in strict configuration.

---
Edit: Actually, with closuers it is even worse:

with the following code:

[code]

[2017-03-10 08:10] fracz opened #800 "How to use different names for chained callbacks?"
Given the following code:

[code]
I would expect the error will say that `Check 2` is violated. However, the excepcion message contains only `Check 3`. The same applies for the `setName` method.

Am I using it wrong? How to do it right?

I suppose there is only one instance of a validator there and I am overwriting the template with each call. Therefore, it would be nice idea to implement a [secon

[2017-03-10 08:15] fracz commented on #800
Ok, I see that this can be solved with

[code]

[2017-03-10 08:15] #800 closed

[2017-03-14 09:03] #783 closed

[2017-03-14 09:46] henriquemoody commented on #799
The but was fixed on 1.0.17 and 1.1.12.

Just upgrade your version!

Thanks for reporting! 🐼

[2017-03-14 09:46] #799 closed

[2017-03-16 12:46] moutew opened #804 "countryName validator with translation"
Hi,

wondering if a country name validator would be a good one.
I've found country list with translations in 563 locales here
[https://github.com/umpirsky/country-list](https://github.com/umpirsky/country-list
)
Can be a good starting point, will need some data manipulations as the whole repo is 75Mo uncompressed (lot of formats php, json, ...). Only php files are 6Mo. And there may be lot of redo

[2017-03-21 08:32] BaNdErOzZz opened #805 "How can I set custom error message inside the KEY validation ?"
`try{`
`    Validator::key('email', Validator::email()->setTemplate('WRONG EMAIL !!!!!!'))->assert(['email' => 'qwe']);`
 `}catch (NestedValidationException $e){`
`            var_dump($e->getMessages()); die();`
`        }`

Shows: "_email must be valid email_" instead of "_WRONG EMAIL !!!!!!_" .

But if I use  `Validator::email()->setTemplate('WRONG EMAIL !!!!!!')->assert('qwe')` it's working !

[2017-03-27 08:46] #796 closed

[2017-03-27 08:47] henriquemoody commented on #796
Thanks for reporting! 🐼

[2017-03-27 15:47] henriquemoody commented on #765
It will be present on the next version!

Thanks for reporting! 🐼

[2017-03-28 11:33] henriquemoody commented on #804
We already have the list in English, we just don't use it.

I'm not really sure, because there is not standard for country names, creating a validation for it would be very error-prone.

[2017-03-29 06:01] moutew commented on #804
I might have developped my use case so maybe you have an easiest way to do.
I'm using the postalCode validator wich needs a countryCode as a parameter to operate. One is a default in my app config file.

As my app tries to be designed with 'internationalization' in mind, I'm registering adresses wich doesn't assume a country code. But let's imagine someone has to register a customer from another c

[2017-03-29 08:47] henriquemoody commented on #804
What you can do is display a `<select>` with a list of country names but having the countries' code as `value`s.

Example:
[code]

If your supports internationalization, then you translate the country names and show it according to the user's chosen language.

When the user chose the country by name you'll have the a country code you can use. Then you can even use `v::keyValue('postal_code', 'post

[2017-03-29 08:47] #804 closed

[2017-03-29 15:11] AlastairDewar opened #810 "Create "Time" rule"
Request for a new feature to validate time supporting the following formats:

Format | Description | Values
-------|-------------|--------
`g` | 12-hour format of an hour without leading zeros   | 1 through 12
`G` | 24-hour format of an hour without leading zeros   | 0 through 23
`h` | 12-hour format of an hour with leading zeros      | 01 through 12
`H` | 24-hour format of an hour with leading ze

[2017-03-29 15:13] AlastairDewar commented on #810
I just came across the SF validator which supports Time, perhaps just add a native Validator to call this function to save writing a new one?

[2017-03-30 00:23] crobo-rafael-campoy opened #811 "Mandatory keys inside a keySet, how can I get a missing key name in error messages?"
Hi all,

I created the following rules to validate and associative array:
[code]
and when I validate an array it is ok, but if some of mandatory keys are missing (let's say "company" key) I always get an error message like:
`- Must have keys { "name", "company", "type", "country", "comment" }`

But I would like to customize the error messages and get something like:
`"company" field is missing`

I

[2017-04-04 14:35] BaNdErOzZz commented on #805
Any suggestions ?

[2017-04-11 05:53] reimax commented on #771
require 'vendor/autoload.php';
use Respect\Validation\Validator as v;

$number = 123;
v::numericVal()->validate($number); // true
result: "numericVal" is not a valid rule name

$test = v::stringVal()->validate("test");
result: "stringVal" is not a valid rule name

[2017-04-11 09:06] henriquemoody commented on #771
On the documentation of every rule on _master_ there is a _CHANGELOG_, check out [NumericVal](https://github.com/Respect/Validation/blob/master/docs/NumericVal.md) and [StringVal](https://github.com/Respect/Validation/blob/master/docs/StringVal.md) and check which version are you using right now.

NumericVal will be renamed at version 2.0.0 and StringVal will be created at the same version. 2.0.0

[2017-04-11 09:06] #771 closed

[2017-04-11 09:10] henriquemoody commented on #788
Would be nice to have it, but keep documentation of integration with other frameworks would be too much work, specially because I have no idea of how many are out there. For example, I've never worked with CodeIgniter.

However, good luck with this integration! I recommend you to write an article about it if you could integrate them. 🐼

[2017-04-11 09:10] #788 closed

[2017-04-11 09:16] henriquemoody commented on #767
The reflection is necessary to check if the object `isInstantiable()`, that's already done for WIP version 2.0.

However, thanks for reporting! 🐼

[2017-04-11 09:16] #767 closed

[2017-04-11 09:19] henriquemoody commented on #757
What would make more sense for a regex pattern match, but for Alnum rule it's just indicative.

Thanks for reporting! 🐼

[2017-04-11 09:19] #757 closed

[2017-04-11 09:31] henriquemoody commented on #737
The documentation even says:

http://respect.github.io/Validation/docs/image.html

I'm closing this issue, since it's not a issue, but feel free to comment any time.

🐼

[2017-04-11 09:31] #737 closed

[2017-04-11 09:56] henriquemoody commented on #810
Makes sense. Our _Date_ validator is actually a _DateTime_ validator. Would be a good idea to rename Date to DateTime and create the Date and Time validators.

[2017-04-12 15:34] reimax commented on #771
https://github.com/Respect/Validation
example:
`Complex rules made simple: v::**numericVal**()->positive()->between(1, 255)->validate($input).`

install via composer from doc:
composer require respect/validation

and in composer.json:
{
    "require": {
        "respect/validation": "^1.1"
    }
}

The documentation is obtained already for 2.0, but composer default install 1.1. In this, the whole

[2017-04-12 15:41] henriquemoody commented on #771
That's exactly what I'm saying, you're using version 1.1, so you should use _Numeric_ instead of _NumericVal_.  Version 2.0 is not released yet.

The documentation of the current version can be found on the website: http://respect.github.io/Validation/docs/numeric.html

[2017-04-20 09:38] RCooLeR opened #820 "Postal code validation not set for Cayman Islands"
Missing regex for KY country code
http://www.caymanpost.gov.ky/portal/page/portal/poshome/posnpimages/POSTCODE%20FINDER%20COLOUR.pdf

[2017-04-24 11:45] henriquemoody opened #821 "Rename "Date" rule to "DateTime""
- [x] Rename and update documentation file
- [x] Add changes to the changelog of the rule
- [x] Update docblock on Validator class
- [x] Updated related documentation
- [x] Rename and update rule
- [x] Rename and update rule exception
- [x] Rename and update tests

[2017-04-24 12:00] henriquemoody commented on #810
@AlastairDewar, don't forget that you can also use [Sf](http://respect.github.io/Validation/docs/sf.html) rule.

[2017-04-24 12:43] m-yousuf-fazal opened #822 "Group Messages"
How do I group same type of error messages?

For example:
**a** and **b** must not be empty
Invalid length: **a** (**40**) and **b** (**80**)

[2017-04-24 14:31] REBELinBLUE opened #823 "Split luhn check from credit card check"
The Luhn algorithm isn't just used by credit cards, for example the company I work at has loyalty cards which also use luhn check, but the CreditCard validator can't be used as it also checks that the number matches the known patterns for the various brands.

I think it would be useful to separate verifyMod10 into a separate validator https://github.com/Respect/Validation/blob/94a79c033a53aa9fe05b

[2017-04-27 06:32] gpredl opened #824 "Rules/Tld not working for ccSLD"
After the problem with the old tld array, which got a update in the meanwhile, i ran into the next tld problem: can't verify for country SLD's
(https://en.wikipedia.org/wiki/Second-level_domain)

For the tld's I found the list on iana. But for the SLD's i couldn't find anything similar, to extend the list of Rules/Tld.
A overview of the many ccSLD's: https://www.whois365.com/en/listtld/north-ameri

[2017-05-01 04:04] henriquemoody opened #826 "Create "Date" rule"
Request for a new feature to validate date supporting the following formats:

Format  | Description                                                           | Values
--------|-----------------------------------------------------------------------|-------------------------
`d`     | Day of the month, 2 digits with leading zeros                         | 01 to 31
`j`     | Day of the month without

[2017-05-01 04:41] henriquemoody commented on #822
What do you mean by "group"?

[2017-05-01 11:21] #821 closed

[2017-05-04 06:27] shivenigma commented on #760
I worked around using replacing messages

[2017-05-04 06:27] #760 closed

[2017-05-04 17:36] paranic opened #828 "storing validation rules to database"
I have already read issue #72 on Annotation Support
and i think this would be a nice feature if you inspire developers with some examples to use it.

actually what i need is a bit different
i have members with their properties in database
and members_groups records
i just want to store validation/filtering rules in a column at  members_groups table
and then occasionally filter members and add them

[2017-05-17 07:19] CameronHall commented on #824
It may be beneficial to use the [Public Suffix list.](https://publicsuffix.org/list/public_suffix_list.dat) This is inclusive of ccSLD's.

On that note, perhaps the TLD validator to cache the result set in a flat file saved in the PHP temporary directory. The TLD list is updated regularly (usually a few times a week). Although it may be stepping outside the scope of the library, I could be worthwh

[2017-05-17 08:34] gpredl commented on #824
For my needs i ended up using "layershifter/tld-extract" (which uses the public suffix list) in addition to Rules/Tld.
First the TLD is checked from Rules/Tld, then I get possible ccSLD from tld-extract.
tld-extract is also realy helpfull for working with subdomains.

I think we can't use the public suffix list to validate ccSLD with Rules/Tld.
Example: domain.or.at is valid, but domain.org.at is

[2017-05-18 05:49] CameronHall commented on #824
That makes a lot of sense, I appreciate the insight.

I agree Rules/Domain shouldn't support subdomains, on the basis that it is actually a hostname, not a domain. In saying that, if we could go a step further with domain validation and abstract it with flags, or individual validators. Breaking it down by TLD, SLD and hostname.

[2017-05-24 00:05] mlambley opened #830 "[v1.1.12] Backslashes being incorrectly escaped in regex"
Validation v1.1.12, PHP 5.6.27, FreeBSD 11.0-RELEASE-p2

I have the following:

[code]

It gives the error:

[code]

The value of $this->regex in Respect\Validation\Rules\Regex:validate right before the preg_match is:

[code]

You can see that the backslash is being incorrectly escaped. The extra backslash treats the closing bracket as literal.

In the input regex I've tried combinations of single

[2017-05-24 00:39] mlambley commented on #830
I have realised that this is not an issue with Respect Validation, but rather an issue with PHP itself.

Some sites recommend delimiting using 4 or even 8 backslashes to use them in a regex, however I found that they don't always work.

I highly recommend using the hex ascii symbol itself eg. "/[\x5C]+/" and skip the whole silly fiasco.

[2017-05-24 00:39] #830 closed

[2017-05-27 18:01] nickl- commented on #828
I believe this is beyond the scope of this project. Respect/Validation is intended as a utility to simplify coding validations.

What you seem to be looking for sounds more like user roles and permissions rather than validation.

Closed issue: out of scope

[2017-05-27 18:01] #828 closed

[2017-05-27 18:03] nickl- commented on #820
Please submit a pull request for review.

[2017-05-28 08:34] paranic commented on #828
hey nickl don't stick on my example :-) the idea is to have a more database friendly validation rules storage.

it will give new opportunities to this library

[2017-05-28 14:59] nickl- commented on #828
It is not the purpose of this library to retrieve data from a db, to parse a csv file or to get values from a form. It is only intended to simplify the validation of the data once you already obtained it.

It is not a rules system so I cannot see how you would make it store rules, this is out of scope.

[2017-05-30 12:28] glmn opened #831 "Show only key in exception getMessages"
Is it possible to show only key in exception message?
[code]

This shows
`Array ( [0] => destination must not be empty )`

I would like to get only key name. Like this
`Array ( [0] => destination )`

Can't understand how to do this.

[2017-05-30 16:01] glmn commented on #831
Solved using `check()` instead of `assert()`

[code]

[2017-05-30 16:01] #831 closed

[2017-06-06 01:00] donjajo commented on #390
Having same issue

[2017-06-06 08:58] henriquemoody commented on #390
Which version are you using, @donjajo?

[2017-06-06 09:48] donjajo commented on #390
6.0.1

On 06/06/2017 09:58, Henrique Moody wrote:

--
*John James*
Co-Founder – 4ward NG
Skype: donjajo1 • Twitter: @donjajo

[2017-06-06 11:20] henriquemoody commented on #390
@donjajo, 6.0.1 is not a valid Validation version, nor of EmailValidator.

[2017-06-06 14:46] donjajo commented on #390
I'm sorry, saw this error on PHP SwiftMailer, not on this.

On 06/06/2017 12:20, Henrique Moody wrote:

--
*John James*
Co-Founder – 4ward NG
Skype: donjajo1 • Twitter: @donjajo

[2017-06-08 21:31] AerWyn81 commented on #390
Hi, seems having the same issue too.

Current version : 6.0.0
-> `composer require "swiftmailer/swiftmailer:^6.0"`

Mail transport :
![image](https://user-images.githubusercontent.com/22222045/26951641-35ccb84a-4ca2-11e7-83d8-a18919f01c6f.png)

Mailer :
![image](https://user-images.githubusercontent.com/22222045/26951653-43d97d6a-4ca2-11e7-97f4-abc2f59da0c1.png)

Send message :
![image](https://us

[2017-06-12 11:40] vikasgupta0159 opened #832 ""dateTime" is not a valid rule name"
I am trying to validate date using this code
[code]

[2017-06-16 14:35] rudovaa opened #833 "Validation of multidimensional array"
I need to validate a multidimensional array of articles, where each element has such structure
[code]
I understand how to validate 'journal' and 'title' using
[code]

But in my case 'persons' don`t have the same dimension from article to article.

So my question could you please advise me how to validate each 'article' which have different number of elements in 'persons' array.

[2017-06-20 16:35] Singwai opened #834 "new validation rule: isSuperSet and isDisjointedSet"
I would like to propose 2 new validations to determine

1 - if an array contain all values of another array.
2 - if an array contain none of the values of another array.

[2017-06-21 19:57] StuartStephens commented on #832
Getting the same issue with dateTime()

` $error = false;

    try {
        $fname = filter_var(trim($_POST['fname']), FILTER_SANITIZE_STRING);

        $lname = filter_var(trim($_POST['lname']), FILTER_SANITIZE_STRING);

        $dob = trim($_POST['dob']);

        v::key('fname', v::stringType()->notEmpty()->length(2, 32))
            ->key('lname', v::stringType()->notEmpty()->length(2, 32))

[2017-06-22 09:58] henriquemoody commented on #832
Check the version you're using and the changelog of this rule: https://github.com/Respect/Validation/blob/master/docs/DateTime.md#changelog

[2017-06-22 09:58] #832 closed

[2017-06-29 01:57] Reeywhaar opened #835 "new validation rule: sorted"
Hi, just wanted to notify, that I'm going to make Ordered rule, which ensures that given array is sorted either by value or property of the value.

Api looks like this:
[code]
Let me know if you have any thoughts :-)

[2017-06-29 13:13] nickl- commented on #835
Implemented in pull request #836

[2017-06-29 13:13] #835 closed

[2017-06-29 15:23] nickl- commented on #834
Would you like to submit a pull request to implement?

[2017-06-29 15:26] nickl- commented on #833
Please provide more information. What do you consider to be a valid persons key?

[2017-07-09 21:29] rkyoku opened #837 "Custom template for callback validator as a second parameter"
Hi,

I saw this ticket: #4 but I'm really sorry that I do not find the solution particularly efficient:

- It only works for assert(), not check(), and I, for example, am only using check()
- It does not work for multiple callback validators, except if you use a trick to get it working as described in #800

I humbly think that the solution proposed 6 years ago, which is attaching a custom template

[2017-07-18 19:35] Syndesi opened #840 "URL-Validator without the protocol"
Hi,

is it possible to implement a rule like the url()-validator but without presupposing the protocol?

[2017-07-31 09:08] Chriskamphuis opened #843 "new validation rule: IBAN"
I would propose one new validation rule that deterimines if an input is a proper IBAN as described on [this](https://en.wikipedia.org/wiki/International_Bank_Account_Number) wikipedia page.

[2017-07-31 09:09] Chriskamphuis commented on #843
I would like to submit a pull request to implement this.

[2017-08-02 11:47] km3945 opened #845 "customize error message"
[code]
Output:

array (2)
   0 => "adds_name|name EMPTY"
   1 => "adds_nick|nick must not be empty"

Expect:

array (2)
   0 => "adds_name|name EMPTY"
   1 => "adds_nick|nick EMPTY"

I want to customize the error message

[2017-08-07 06:33] km3945 opened #846 "class_exists($className) Throw a warning"
[code]

[2017-08-09 12:23] Iazel opened #847 "[Idea] Error message handling"
Hello!
I really like this library, however it looks like error messages are a serious issue for lots of people; after a quick look at issues, many of them regards error messages and someone don't want to use this awesome validator just for that ^^"

So, I would like to discuss with all the community if the follow solution (for which I can do a PR) would be acceptable or not.

Instead of using Exce

[2017-08-11 20:37] rainulf opened #848 "Adding specific date format makes the non-mandatory field mandatory"
`dateField` is optional using 3rd parameter set to `false`:

[code]

Added `'Y-m-d'` to check for specific date format.

Will look for its existence & complain that it's not a valid date - `dateField` should not be mandatory:

[code]

From composer: `"respect/validation": "^1.1.12",`

[2017-08-11 20:47] #848 closed

[2017-08-16 16:19] mattsah opened #849 "intVal and float-like strings"
I've noted when validating form input that intVal() allows a string such as '500.00' to pass as an int.  This is a bit of a problem once attempts are made to insert it into the DB.  Thoughts on changing this?

[2017-08-30 21:26] zachmay opened #851 "Rule for validating UUIDs"
It would be nice to have a rule for validating UUIDs, preferably case-insensitively.

In fact, @vdhicts has a pull request, #829, open for this right now.

[2017-08-31 11:58] Jossnaz commented on #129
Is there a proper example to test various input fields at the same time and return custom error messages for each? because that is what you do when you do validation professionally. I don't understand why this is hidden so deeply. I'm surprised.

[2017-09-02 14:44] xandros15 opened #852 "php stream wrapper/PSR-7 and file size validator"
The filesize validator has a problem with php streams:
`` SplFileInfo::getSize(): stat failed for php://input ``
or
``Warning: filesize(): stat failed for php://input in \vendor\respect\validation\library\Rules\Size.php on line 110``
``Fatal error: Uncaught RuntimeException: Unexpected data in output buffer. Maybe you have characters before an opening <?php tag?``

It would be nice to add PSR7 Str

[2017-09-05 09:33] christianmalek opened #853 "Validate if there's a illegal attribute"
I would like to have a validator which checks if an object has illegal attributes. So there is a defined set of attributes like `attributeA` and `attributeB` which are allowed. Some attributes are required and some are optional. All other attributes like `attributeRandomXY` should invalidate the validation. Is this possible?

Example:
[code]

[2017-09-07 13:03] Jossnaz commented on #759
btw how to request at least say, 3 check boxes to be checked? e.g. at least 3 values in the array

[2017-09-14 08:29] fracz commented on #805
Seems like a dup of #619

[2017-09-14 08:29] fracz commented on #619
Any progress on this?

[2017-09-19 21:07] coder4life opened #855 "Curious why Video URL does not support more providers"
So was looking at the Video URL providers and noticed there is only two.

Since there are a variety of video providers
Twitter
Twitch
Youtube
ect.
I find it hard for a library like this to support all of them, which means it makes sense to allow thrid parties to add to the service providers. However since services is private variable and no get and set methods we do not have access to the variable

[2017-09-25 20:52] hpaknia opened #856 "Url validation error message grammatical issue"
Url validation error states `an Url` which I believe should be `a URL`.

[2017-10-05 09:33] phil123456 opened #858 "how to install it without composer"
Hello,

I cant install composer on windows (cfr https://github.com/composer/composer/issues/6725)

can you tell me how to install your validator staticaly/manualy ?

thanks

[2017-10-05 10:07] henriquemoody opened #859 "Create shortcuts classes"
In order to make simple validations even shorter, create the classes: `Assert`, `Check`, and `IsValid`.

Usage examples:
[code]

[2017-10-12 06:01] Jossnaz opened #860 "how to return messages with an array key?"
currently:

[code]

` $motr_errors` will be a trivial array with no keys set. Just a list of messages. Which message belongs to which fields? well good luck... hack the messages with string search  `strpos()` to figure out what error message is for which field?

ugh, ugly

is there no better way?

[2017-10-12 06:06] Jossnaz commented on #610
+1

[2017-10-12 06:21] Jossnaz commented on #860
actually seems this works

  try {
    $var_result = v::key('motr_gender',
                                 v::oneOf(v::equals('male')->setName('motr_gender'), v::equals('female')->setName('motr_gender')))
                    ->key('motr_date_of_birth', v::date('m/d/Y'))
                    ->key('motr_company_in', v::notBlank())
                    ->key('motr_position_in', v::notBlank())

[2017-10-12 06:21] #860 closed

[2017-10-12 06:47] Jossnaz opened #861 "Date passes unexpectedly"
`                    ->key('motr_date_of_birth', v::date('m/d/Y'))`

will pass input
`10/10/84` as valid

the problem is that this function is used in the respect library
[code]

returns:

`array(12) { ["year"]=> int(84) ["month"]=> int(10) ["day"]=> int(10) ["hour"]=> bool(false) ["minute"]=> bool(false) ["second"]=> bool(false) ["fraction"]=> bool(false) ["warning_count"]=> int(0) ["warnings"]=>

[2017-10-12 06:53] Jossnaz commented on #861
current workaround is this manual work:

[code]

but it's clumsy

[2017-10-13 10:05] fab01 commented on #832
If you are using 'composer require' it gets automatically the version 1.1.12 which is not up to date.
I fixed the issue by changing manually the branch to "dev-master" in composer.json:

[code]

[2017-10-15 16:41] #851 closed

[2017-10-15 16:42] henriquemoody commented on #851
Thanks for reporting! It will be available on version 2.0! 🐼

[2017-10-16 14:30] henriquemoody commented on #832
Composer gets by default the stable version of all libraries.

You should be careful every time you use `dev-master` of any library. It's a development version, and it's your own risk, things may break.

[2017-10-16 18:46] #823 closed

[2017-10-16 18:47] henriquemoody commented on #823
Fixed by #868

Thanks for reporting! 🐼

[2017-10-17 07:06] henriquemoody commented on #861
The validation is correct `10/10/84` is a valid date in `m/d/Y` format, once 84 is also an year. If you want to get a specific date range you should use something like `v::date('m/d/Y')->min('1000 years ago')`

[2017-10-17 07:06] #861 closed

[2017-10-17 09:43] fab01 commented on #832
Yes, just in this case I have been forced to dev-master... normally I never play with branches
Otherwise the stable version would not support the "dateTime" validation according to the documentation.
Anyway as far as I can see this is a pretty old issue.
Looking forward to get the stable version with dateTime validation fix.

[2017-10-17 10:18] henriquemoody commented on #832
You can still use [Date()](http://respect.github.io/Validation/docs/date.html) on old versions if you want.

[2017-10-17 10:19] henriquemoody commented on #858
Without Composer you have to copy the code and implement [PSR-0](http://www.php-fig.org/psr/psr-0/) autoloader yourself.

[2017-10-17 10:19] #858 closed

[2017-10-17 10:36] henriquemoody commented on #855
The problem with public properties, specially in PHP, is that you have no idea of which value it will have. If I have a private property, I can be sure that it will be an integer, a string, or a float. But if it's public I have no idea of which type it will have, let alone it's value.

This library has a lot of public properties and I don't think it's a good thing. We _hope_ that the users will us

[2017-10-17 11:56] phil123456 commented on #858
wow took you long enough :-)
in the mean time I just added require_once, so far so good

[2017-10-20 09:52] lanlin opened #872 "email validation failed"
This email address come from the lists.php.net mailing robot

## version: 1.1.10

## email address:
php-general-uc.1355065098.adaplbockllfebeiggpp-lanlin1987=gmail.com@lists.php.net
php-general-uc.1400015774.ggjhebfndcpbcgpljcdd-php=renatius.de@lists.php.net

[2017-10-24 20:59] alexweltman opened #873 "charset('Windows-1252') always evaluates to false"
No matter what I validate, charset always returns ```false``` when using the [Windows-1252 charset](https://en.wikipedia.org/wiki/Windows-1252).
[code]

[2017-10-24 21:18] alexweltman commented on #873
looks like this validator uses mb_detect_encoding, which is not supported for Windows-1252
https://stackoverflow.com/questions/22125469/unexpected-result-from-mb-detect-encoding-with-windows-1252

[2017-10-30 08:01] phil123456 opened #876 "regex does not work as expected for french words with accents"
Hello,

I try to validate a frech text "sécurité" with accents, but it seems validate returns false

    if(!v::regex("/^[a-z0-9\p{L}\s\-'’.,:@\[\]\(\)]+$/im")->validate($data)) )
    {
        ... error
    }

I checked my regex in https://regex101.com/ and it works

how can I make this work correctly ? what am I missing

thanks

[2017-10-30 16:35] rhagni commented on #876
@phil123456 What's your package and PHP version? Is your `$data` not an array?

I tried to reproduce without success:
[code]

[code]

[code]

My versions:

[code]

[2017-11-01 09:01] fuadmuhtaz opened #877 "Change the docs of master branch to stable docs version"
When use `composer require respect/validation` the composer install version ^1.1 as default. When i'm read VALIDATORS doc from this repo, the VALIDATORS docs use version 2.0. So many validators from the doc not valid when use default installation, and it make me confused when first time use.

I think show docs version from default installation will be better for new comer like me :D

Sorry for my

[2017-11-01 21:40] tieutantan opened #878 "Idea new function for case contains list character :)"
Hi, can you create function require must contain one or more element in list character be like this example.

`v::contains_list(['word', '@', '/'])->validate('lorem ipsum'); `
// return false

`v::contains_list(['word', '@', '/'])->validate('lorem ipsum word'); `
// return true

`v::contains_list(['word', '@', '/'])->validate('lorem ipsum @ word'); `
// return true

Now you have `v::in(mixed $hays

[2017-11-02 12:30] phil123456 commented on #876
php 7.0.10 with wamp..I'll chekc if the issue appears on the prod system(redhat)
thanks for giving it a test

[2017-11-03 02:54] williamespindola commented on #876
@phil123456 show us the error, as you said you don't using composer and import it manually, maybe something is missing during import. With error message we can analyze better.

[2017-11-06 06:54] phil123456 commented on #876
there is no error messsage, it returns false instead of true

[2017-11-06 18:08] rhagni commented on #876
I have found a probable solution to your problem.

After your reply I have tried my own example and so doesn't match anymore, so I remember I have changed my ".vimrc" some days ago, switching my default encoding from WINDOWS-1252 to UTF-8.

So... let's try (following my old example):
[code]
(Remembering: To iconv "CP1252", "MS-ANSI" are alias to "WINDOWS-1252", or vice-versa)

So, you can do somet

[2017-11-07 19:11] GhostMech opened #880 "Validate::dateTime() not working, Validate::date() fails on certain dates."
Hi.

When I use Validate::date() on something like 11/31/2017, it returns TRUE when it should return FALSE.
Same thing with entering 2017-11-31.

Also, when I TRY Validate::dateTime() it fails with this:
Uncaught Respect\Validation\Exceptions\ComponentException: "dateTime" is not a valid rule name

[2017-11-08 12:41] elshobokshy opened #881 "More information in Alnum"
It's not written in Alnum.md that we need to separate arguments with a space, I had to look in the code to figure it out.
It would be nice to edit this :

to something like :

Source : https://github.com/Respect/Validation/blob/master/docs/Alnum.md

[2017-11-10 04:03] fuadmuhtaz commented on #880
When you not input the format, rule date will use
`return false !== strtotime($date)`
[https://github.com/Respect/Validation/blob/22f1f14430155c21c1d6ba271a652f28c5057851/library/Rules/Date.php#L40](url)

When you install this library from composer, the docs you must use is in branch 1.1.
 [https://github.com/Respect/Validation/blob/1.1/docs/VALIDATORS.md](url)

I'm open issue about the docs #877

[2017-11-10 10:47] henriquemoody commented on #877
I changed the default branch to 1.1 to avoid those misunderstandings, even though the documentation says that they were renamed https://github.com/Respect/Validation/blob/master/docs/DateTime.md#changelog

[2017-11-10 10:47] #877 closed

[2017-11-10 10:50] henriquemoody commented on #880
Check the DateTime changelog and the version you have installed: https://github.com/Respect/Validation/blob/master/docs/DateTime.md#changelog

PHP sometimes fail to _guess_ which format you're trying to match, I do recommend you to use an specific format for that, like `v::date('d/m/Y')` so you're sure it will be a proper date.

[2017-11-10 10:50] #880 closed

[2017-11-15 22:48] brunoluiz opened #885 "Missing php-index for malkusch/bav dependency"
I am having issues to install the project dependencies due to missing php-index package:

[code]

The issue is that `malkusch` seems to have deleted the `bav` and `php-index` repos: https://github.com/malkusch/php-index | https://github.com/malkusch/bav.

[2017-11-16 09:04] henriquemoody commented on #885
I suggest you to remove @malkusch's packages from your dependencies if you're not using it. Validation doesn't need it to work, it's just a suggested package.

[2017-11-17 07:25] phil123456 commented on #876
sorry haven't seen you replies lately, I'll have a look

in the meantime I used this that sem to work better

 (!v::regex("/^[0-9a-z\p{L}\s\’\'\:\.\-\,\!\[\]\(\)\@]+?$/ium")->validate($data)) )

adding the u did the trick I think

[2017-11-17 20:13] malkusch commented on #885
Oh, Sorry guys. I didn't expect breaking packagist by removing those repos.

[2017-11-18 12:51] williamespindola commented on #881
Sometime we lost the possibilites :D So, you can do this PR, we will be grateful for receive it.

[2017-11-20 20:09] PatrickSJ opened #886 "keyNested failing to validate existence of key"
According to the docs I can validate whether a key exists with KeyNested, but if I lack a key (see below), I get a PHP Fatal Error.   I was expecting an exception, not an error.

[code]

[code]

[2017-11-20 21:36] PatrickSJ commented on #886
Don't know where my brain was.  Need to catch Exception, not Respect\Validation\NestedValidationException.  No issue.

[2017-11-20 21:36] #886 closed

[2017-11-22 07:02] anx-ckreuzberger opened #887 "Changelog?"
Hi there,

is it just me, or was the [ChangeLog](https://github.com/Respect/Validation/blob/1.1/CHANGELOG.md) not updated since 1.1.0?

I would really love to see all the latest versions, i.e. 1.1.12 and 1.1.14 in there with a date and a description what has changed.

Thanks in advance!

[2017-11-22 14:48] rauwebieten opened #888 "arrayType + key validator + findMessages returns wrong messages"
Is use dot syntax to find the messages I want from the exception, but when the name if the array key is the same as the rule-name, something is wrong.

My code:
[code]

This is the result:

[code]

The email_email message is wrong, it does not return the "email" message for the "email" field.

But when I change the array key to "example_name" for instance, all is correct.

[code]

Output is now co

[2017-11-23 03:10] PatrickSJ opened #889 "Using validators with ArrayObject's offsetSet?"
Let's say I have a list of rules for all of the attributes of an object:
`Validator::key('attr_1', Validator::rule_1()->rule_2()->rule_3())
               ->key('attr_2, Validator::rule_1()->rule_2()->rule_3())
`

Now, if I want to validate the entire object that's all well and good, but with PHP's ArrayObject (and other classes implementing ArrayAccess) you can go things like `$obj['attr_1'] = 'f

[2017-11-23 12:34] anibalsoul commented on #390
donjajo i got the same

[2017-11-23 12:36] anibalsoul commented on #390
Windows 10  64bit
php 7
My CMF drupal

[2017-11-23 12:38] anibalsoul commented on #390
i'm using composer too, this is on composer

[2017-11-27 09:05] NazarShershen opened #890 "Url validation bug"
Hello!
When validate url like 'http://https://codiqa.com/'
url('http://https://codiqa.com/')->validate() validator says that it's correct url

[2017-12-02 21:26] Singwai commented on #834
https://github.com/Respect/Validation/pull/892 This PR determine if array contain all values of another array

[2017-12-07 04:52] Jossnaz commented on #860
note:

you want to do probably:

`print_r(array_filter($messages))` to remove entries of the message array that did not cause an error

[2017-12-24 20:06] DaniloBenevides commented on #826
Hello, still need help on this issue ?

[2017-12-27 13:53] henriquemoody commented on #826
@brunoluiz was working on it, but it would be fine by me if you would like to take over. See #875. Or you can also help on #810

[2018-01-01 01:50] DaniloBenevides commented on #826
I will start with #810 if when i finish it #875 still undone i will help there too.

[2018-01-02 19:32] danimalweb commented on #739
I have the same issue. Did you find a solution?

[2018-01-02 21:29] henriquemoody commented on #843
Hey, @Chriskamphuis! I will be more than happy with your PR!

[2018-01-02 21:30] henriquemoody commented on #846
Could you provide a use case?

[2018-01-02 21:35] henriquemoody commented on #872
Hey, @lanlin! Did you try to install `egulias/email-validator`?

[2018-01-02 21:53] henriquemoody commented on #345
Fixed on [1.0.20](https://github.com/Respect/Validation/releases/tag/1.0.20) and [1.1.15](https://github.com/Respect/Validation/releases/tag/1.1.15).

Thanks for reporting! :panda_face:

[2018-01-02 21:53] #345 closed

[2018-01-02 21:54] henriquemoody commented on #739
Fixed on [1.0.20](https://github.com/Respect/Validation/releases/tag/1.0.20) and [1.1.15](https://github.com/Respect/Validation/releases/tag/1.1.15).

Thanks for reporting! :panda_face:

[2018-01-02 21:54] #739 closed

[2018-01-02 21:55] henriquemoody commented on #885
Fixed on [1.0.20](https://github.com/Respect/Validation/releases/tag/1.0.20) and [1.1.15](https://github.com/Respect/Validation/releases/tag/1.1.15).

Thanks for reporting! :panda_face:

It's all fine now, @malkusch. Now I just wonder why did you remove the packages 👀

[2018-01-02 21:55] #885 closed

[2018-01-03 02:01] lanlin commented on #872
@henriquemoody thanks, it works!

The [email validator doc](http://respect.github.io/Validation/docs/email.html) hasn't mention of this. May you take a little time to add to this?

[2018-01-05 01:18] #872 closed

[2018-01-07 02:27] felippeduarte commented on #890
The code uses filter_var native PHP function.
There is an open bug with the same problem here: https://bugs.php.net/bug.php?id=64173
One option would be to change the way to validate url, without use filter_var

[2018-01-25 10:31] urmasrosenberg opened #908 "AbstractInterval->filterInterval() returns DateTime and that ends with error!"
Code: v::intVal()->between(1900, 2040)->setName('year')

everything works fine, until input is something that can parsed as date. For example **2018-01-25**, then in Max/Min classes, input is filtered by filterInterval() but as it returns DateTime object, casting error happens:

"**Object of class DateTime could not be converted to int**"

as there will be comparsion like this: dateTimeObject < 19

[2018-01-29 08:47] henriquemoody commented on #826
Fixed by #911. Do you have any update about the `Time` rule, @DaniloBenevides?

[2018-01-29 08:47] #826 closed

[2018-01-30 09:05] henriquemoody commented on #810
Thanks for reporting! 🐼

Fixed by #912

[2018-01-30 09:05] #810 closed

[2018-02-01 08:10] zilzurna opened #914 "Be careful for the 'in' validator"
Hello everyone,

I found an issue and want to notice you. So, when you give the "true" value to the "in" function then it could always pass the validation.

Example;
[code]

[2018-02-01 10:42] Nessworthy commented on #914
Hi Zilzurna,

This is expected I imagine. If you want strict type checking, then you should use the second argument. The boolean flag is the equivalent between checking using `==` and `===`.

When evaluating against a boolean without strictly checking types, "truthy"/"falsey" values will also match. The examples above would also apply when checking false against 0, an empty string, an empty array,

[2018-02-01 15:13] henriquemoody commented on #826
Hey, @DaniloBenevides! Don't worry about it, I took care of it, see #911 and #912.

However, if you still want to contribute, you can check some "Easy pick" issues: https://github.com/Respect/Validation/labels/Easy%20Pick

🐼

[2018-02-01 19:29] DaniloBenevides commented on #826
Thanks @henriquemoody , I will search one.

[2018-02-01 19:31] DaniloBenevides commented on #843
Hello , anyone working on this issue ?

[2018-02-02 08:33] zilzurna commented on #914
Yes @Nessworthy, you are right also applies for the opposite.

People have to be careful when using the In function. Extra explanation may be good in the documentation.

Thanks.

[2018-02-06 07:49] kvipe commented on #610
In Respect Validation 1.1 this problem is still relevant

[2018-02-07 14:54] elshobokshy opened #915 "Validate url is an image"
Is there a way to validate that the give url is an image, meaning the url has a .jpg/png .. etc extension?

[2018-02-11 21:16] rifton007 commented on #664
Hi,
Any news about this feature ?

[2018-02-13 03:59] yizhihouzi opened #917 "$validator->assert($input) work error"
.eg code,

$validator = Validator::max(24);
$validator->assert(25);

fault log,
/usr/local/php7/bin/php /Users/yizhihouzi/Desktop/eg/index.php
PHP Fatal error:  Uncaught Error: Call to undefined method Respect\Validation\Exceptions\AllOfException::setInvalidArgumentExceptionRelated() in /Users/yizhihouzi/Desktop/eg/vendor/respect/validation/library/Rules/AllOf.php:27
Stack trace:
#0 /Users/yizhiho

[2018-02-13 04:18] yizhihouzi commented on #917
the Respect/Validation  version is "1.1.15"

[2018-02-13 05:10] yizhihouzi commented on #917
@henriquemoody @GrahamCampbell

[2018-02-15 12:22] solo-framework opened #918 "How to customize messages for StringType rule?"
Hi
I tried to
[code]

but it doesn't change a rule message

[2018-02-16 21:46] codeaid commented on #664
So it's been open for 2 years and still no response? Installed the library thinking that this is it, I've found the one only to realize that error messages are absolutely useless. There's no way I can return a payload from an API explaining what error messages each field has, like e.g. Zend Validator.

Speaking about nested array values - simply nest them in their respective keys. E.g. with payloa

[2018-02-16 21:55] codeaid opened #919 "Is this library dead?"
I was looking at some issues and pull requests and there are quite a few from more than 2 years ago, some very useful too amongst them. Also the latest 6 commits are 2 from July, 2 from October and 2 from December last year.

Is anyone still maintaining this library? I'm guessing it gained all the stars in its initial stint but then it got quietly abandoned?

Thanks in advance!

[2018-02-21 19:27] funivan commented on #619
Any news?

[2018-02-22 21:47] awps commented on #258
@henriquemoody @augustohp Any news. on this? I see that there is no progress for almost 3 years.
This library will get the 2.0 tag in one day or it's abandoned?

Ask the community for help if you can't maintain it anymore.

[2018-02-22 22:02] augustohp commented on #258
I think this issue is dead, but not the project. The code works but I confess I am not aware of any urgent matter that needs attention, if anything @awps let us know.

[2018-02-22 22:06] henriquemoody commented on #258
The help it's been asked all long, as any open source project, I haven't
seen many pull requests coming up, or even ideas for solutions, mostly
users complaining about bugs, functionalities and rules that are not
implemented, many times support for using the library even with all the
documentation we have. There is even some pull requests with "Help Wanted"
label and nothing happens. Some times, w

[2018-02-22 22:18] #919 closed

[2018-02-22 22:25] henriquemoody commented on #918
You just missed one case, which is the rule name on it's pure form:
[code]

I hope it helps! 🐼

[2018-02-22 22:25] #918 closed

[2018-02-22 22:26] henriquemoody commented on #917
Can you sent us the code itself?

[2018-02-22 22:51] awps commented on #258
@henriquemoody I have not used the library but I want to use it in an upcoming project. After browsing the issues I saw this topic and made me think that the library is not maintained. My bad, I should check the commits first to realize that the last one was 2 months ago. 👍

Anyway, I think that this library still needs a major release and I hope for at least:
- Proper docblock comments so the IDE

[2018-02-23 18:43] augustohp commented on #258
Rule classes are pretty straightforward and your IDE should auto-complete things when using them directly. Through [the static validation API][1], [IDE hints are present][2]. Can you further elaborate what you expect that isn't happening?

[1]: https://github.com/Respect/Validation/blob/1.1/docs/README.md#namespace-import
[2]: https://github.com/Respect/Validation/blob/1.1/library/Validator.php#L2

[2018-02-24 08:29] henriquemoody opened #921 "Apply contribution guidelines"
TL;DR
- Make sure you're based on the `master` branch
- Refactor all rules as in #902
- Write a comment with the rule you're  going to work on before sending a PR

***
It's been a MAJOR or MINOR version of the library has been released. There are enough things to release the version 2.0 but I need your help.

I wrote new [Contribution Guidelines](https://github.com/Respect/Validation/blob/master/C

[2018-02-24 10:22] henriquemoody commented on #919
Besides there is been activity, check out the master branch: https://github.com/Respect/Validation/commits/master

[2018-02-24 10:34] henriquemoody commented on #664
I have to disagree and if you check how much people are [using it in](https://packagist.org/packages/respect/validation/stats) your affirmation seems a little exaggerated.

I'm working on it for quite some time in #678, and I got quite some juicy results. But since there are too many rules to refactor and I don't have as much time as I used to have, this is been postponed. So, if you want to speed

[2018-02-26 16:58] p-golovin opened #922 "Errors from PHPCompatibility checker"
FILE: Respect/Validation/Rules/Numeric.php
14 | WARNING | 'numeric' is a soft reserved keyword as of PHP version 7.0 and should not be used to name a class, interface or trait or as part of a namespace (T_CLASS)

FILE: Respect/Validation/Rules/Call.php
18 | ERROR | Using a call-time pass-by-reference is deprecated since PHP 5.3 and prohibited since PHP 5.4

[2018-02-27 08:40] henriquemoody commented on #921
I'm getting the Between

[2018-02-28 02:20] arthur-rrs commented on #849
`<?php
/*
 * This file is part of Respect/Validation.
 *
 * (c) Alexandre Gomes Gaigalas <alexandre@gaigalas.net>
 *
 * For the full copyright and license information, please view the "LICENSE.md"
 * file that was distributed with this source code.
 */
namespace Respect\Validation\Rules;
class IntVal extends AbstractRule
{
    public function validate($input)
    {
       -return is_numeric($input

[2018-02-28 10:01] bertramakers opened #924 "'"" should not be empty' when using Each()"
Hi! I was trying out this library to validate some JSON, and I'm really impressed how feature-rich it is.

That being said, I'm getting some unclear error messages when I assert that an array has no empty values.

For example, I'm trying to validate the following code (snippet):

    {
      "title": {
        "en": "Example title",
        "nl": "Voorbeeld titel",
        "fr": ""
      }
    }

[2018-02-28 10:27] bertramakers commented on #924
To clarify, the translations are not limited to `en`, `nl` and `fr` but can be **any language code**. So I cannot do something like this because it would be too limited:

    $rules = [
        new Key('title.en', new TitleValidator(), true),
        new Key('title.nl', new TitleValidator(), true),
        new Key('title.fr', new TitleValidator(), true),
    ];

[2018-02-28 23:49] tersmitten commented on #736
You can use somethink like this, right?

[code]

[2018-03-03 17:14] henriquemoody commented on #921
I'm getting the KeySet

[2018-03-14 11:04] talusannni commented on #698
Di you figured out how to do this? or need any help?

[2018-03-14 19:10] utkant opened #930 "Is it possible to group validators into new validators."
Hello...

I was just working on some validation and I was thinking if it would be possible to do the following.

Is there any way to turn for example this:
[code]

into
`->address()`

It would make it easier to reuse than copy pasting and maintaining the first option...

[2018-03-14 19:12] utkant commented on #930
I know you can make your own validator rules, but how can you reuse the existing ones in the validator rules? The documentation is not very clear on this since all examples require that you actually write the whole validation in the custom rule. I would like a way to group these validations into a custom validation.

[2018-03-15 13:41] obivan86 opened #931 "Why is 'invalid@email' valid email address? It isn't valid email address"

[2018-03-19 11:56] williamespindola commented on #930
Is your address is a string or an array? The possibilities that I remember is [Reuse a validator](https://github.com/Respect/Validation/blob/22f1f14430155c21c1d6ba271a652f28c5057851/docs/README.md#validator-reuse) or group the validator with [OneOf](https://github.com/Respect/Validation/blob/1.1/docs/OneOf.md) or [AllOf](https://github.com/Respect/Validation/blob/1.1/docs/AllOf.md)

Have a look:
[

[2018-03-19 12:00] williamespindola commented on #931
You can provide some pice of code that you are using to validate? Because this is a invalid emails if you take a look on [email rule tests](https://github.com/Respect/Validation/blob/1.1/tests/unit/Rules/EmailTest.php#L130-L146)

[2018-03-19 14:47] utkant commented on #930
That is good if I wanted to put a lot of different validators into my code. But I wanted to make a Rule which consists of several other rules... I saw that there was some example of that in the Domain Rule but I was wondering if there was any other better and faster way of doing it.

Something like:

`namespace App\Validation\Rules;

use Respect\Validation\Rules\AbstractRule;
use Respect\Validatio

[2018-03-20 07:41] asanchezml commented on #744
+1

[2018-03-21 13:19] williamespindola commented on #930
You can do something like this:

[code]
Executing
[code]
See [Attribute](https://github.com/Respect/Validation/blob/1.1/docs/Attribute.md)

[2018-03-25 03:46] utkant commented on #930
That would still leave me with a AddressValidator and not an Address Rule... :)

[2018-03-26 15:14] utkant commented on #930
The good thing about adding an address rule is that if I need to change something I can do it in one place. If I were to make address validators throughout the system it would mean changing several places. An alternative would be to make a central address validator which can be reused, but then that would mean that I would end up with lots of validators instead of just one. I think I will study th

[2018-03-26 16:57] henriquemoody commented on #930
The Domain rule is not really a good example of how to use rules to create new rules. Also it's important to say that "rule" and "validator" are pretty much the same thing.

What I would recommend you do to is to create your own rule:

[code]

Then register your custom namespace:

[code]

And then just use it:
[code]

[2018-03-26 17:16] henriquemoody commented on #931
The fact is that `invalid@email` is a valid email. You can have an username `invalid` in a host named `email`, and that would be valid.

You're probably using `egulias/email-validator`, which we use to validate emails according to a couple RFCs. It's quite complicated to validate emails because there are way to many possibilities. If you do not use `egulias/email-validator` you would still have so

[2018-03-27 00:38] utkant commented on #930
Aha, that is a good way of doing it. I will follow that pattern for my rules. It is what I was looking for...

[2018-03-27 00:38] #930 closed

[2018-04-03 03:45] petronetto opened #945 "[QUESTION] How suppress error messages for some validation?"
I'm trying use for validating an User creation, but, when if a compare `password` with `password_confirmation`, I got the password typed: `password_confirmation must be equals "secret"`

Here's my code:
[code]

Thanks!

[2018-04-18 12:17] cocochepeau opened #947 "[question] Between with Float"
Hi,

Are we able to apply Between rule when using float?
Currently, it does not seem to work.

[code]

Thanks!

[2018-04-21 19:50] nickl- commented on #834
#892 supersedes... closing

[2018-04-21 19:50] #834 closed

[2018-04-21 23:26] nickl- opened #948 "Verify documentation code syntax"
I noticed users find the documentation from issue [#90-18082569](https://github.com/Respect/Validation/issues/90#issuecomment-18082569) Dynamic chaining, useful so I transferred it to the [documentation](https://github.com/Respect/Validation/blob/1.1/docs/README.md#validating-object-attributes)

Unfortunately I did not actually test/verify that it works as advertised.

Please run the 3 examples an

[2018-04-22 06:52] nickl- opened #949 "[RFC] API change and release v1.2"
# RFC - Request for comments

@Respect While I was updating the [documentation](https://github.com/Respect/Validation/blob/1.1/docs/README.md#validating-object-attributes) I had an idea for an improvement to the builder api, as I did some more investigation some other issues also came up. I would like to hear what your thoughts are and if you agree this is something we should do.

I also tweaked [

[2018-04-22 10:37] nickl- commented on #948
Tested and fixed documentation.

Can't believe I had it so wrong!

[2018-04-22 10:37] #948 closed

[2018-04-22 10:38] nickl- commented on #949
This needs to go back to the drawing board

[2018-04-22 10:38] #949 closed

[2018-04-22 10:58] nickl- commented on #947
Works for me...

PHP 7.2.4
Respect\Validation v1.1.15
macOS 10.13.2

[code]

Produces the following output:

[code]

Try this and see if you can spot where it goes wrong.
It will also help if you can give me some more information.

gl

[2018-04-25 13:56] obstschale opened #951 "[Question] Sort exception message by references"
I know that `$exception->getMessages()` will return an array with all validation errors. But is there a way to get all errors as array where the errors are sorted by the reference?

Example:

[code]

[code]

But I would like to have something like this:

[code]

Is this possible?

[2018-05-02 21:36] nickl- commented on #951
Have you tried `$e->getIterator()` which will collect the exceptions for you. On each exception you will have `getParams()`, `getName()` and of course `getMessage()` which should provide you with all the detail you need.

[2018-05-12 09:18] akorz opened #955 "Array validation"
Hello, I have DTO object

[code]

Where CountryName is my validator

[code]

When the $name is just a string it's ok. But how to validate $name if it looks like?

[code]

[2018-05-13 12:09] nickl- commented on #955
You will want to use the `attribute` (for object attributes) or `key` (for array keys) validators.

There are some examples in the [feature guide](https://github.com/Respect/Validation/blob/1.1/docs/README.md#validating-object-attributes) and the documentation for [attribute](https://github.com/Respect/Validation/blob/1.1/docs/Attribute.md) and [key](https://github.com/Respect/Validation/blob/1.1/

[2018-05-13 16:49] koficodes commented on #921
I'm getting  AllOf

[2018-05-16 19:47] nealoke commented on #951
@nickl- when I try this I get the following:

`Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 65015808 bytes) in C:\........ on line xx`

[2018-05-18 17:16] DaniloBenevides commented on #921
I'm getting Uppercase

[2018-05-19 10:35] nickl- commented on #951
Ouch! That's not right...I know the data you are looking for is in there somewhere. It is going to take me a little while before I am free again to have a look.

[2018-05-19 10:40] nickl- commented on #921
Well done! whoop whoop!!

Unfortunately I'm not quite free right now... knee deep in java, but will try and wriggle my way out before this is done.

[2018-05-19 14:40] koficodes commented on #921
while working on AllOf , I realized it is being extended by other Rules, hence setting the class as final is not feasible.
also adding type hinting will cause a cascade of incompatible interfaces and function signatures.
I suggest the following task should be tackled in one phase and the other two should be tackled in another phase with much diligence.

- Add docblocks for classes, methods, and pr

[2018-05-19 15:02] henriquemoody commented on #921
Some rules require more than applying the guidelines. I updated the list of Rules in the description of this issue, mentioning only the ones that are easy to work on, I'll pick up myself because of the more structural changes.

If you can pick other rule that will be simpler that would be the cool. If you have something already done already in the "AllOf" rule, you can just send it as it, and I'll

[2018-05-19 15:09] koficodes commented on #921
Well noted. will pick another rule for now. Thanks for the quick response. :+1:

[2018-05-19 15:12] henriquemoody commented on #951
@nealoke, can you send out the exact piece of code you're executing? This library is very lightweight to have this kind of memory problem, it may be possible but I'd like to know exactly what's happening.

[2018-05-19 15:13] henriquemoody commented on #947
@cocochepeau, can you send us the exact version you're using?

[2018-05-20 10:37] nealoke commented on #951
@henriquemoody sure, below is the example I use:

[code]

[2018-05-22 02:06] nickl- commented on #951
The idea is to iterate through the iterator, print_r might be reaching for more than we need which is why you are getting the stack overflow.

something on the lines of:
[code]

Not sure if this even parses I can't test it right now but it makes sense right?

[2018-05-22 09:55] henriquemoody commented on #951
That's probably will be fixed by #957

@nealoke, can you check if is that what you want? https://github.com/henriquemoody/Validation/blob/exception/tests/integration/get_messages.phpt

[2018-05-22 11:57] nealoke commented on #951
@henriquemoody that is exactly how I would like it :). Any idea on when this will be merged? 😄

[2018-05-22 12:22] henriquemoody commented on #951
I'm trying to merge it this week, but the release depends on #921

[2018-05-22 13:43] nealoke commented on #951
@henriquemoody cool, I hope that it doesn't take too long 😄 . I'm not sure how I can help also :/

[2018-05-23 09:19] henriquemoody commented on #951
@nealoke You can pick any of the rules listed on #921 and apply the contribution guidelines, just as #902 does. 😄

[2018-05-27 14:19] henriquemoody commented on #822
Hope you found what you wanted to do.

I'm gonna close this issue by now. You can always send a new one any time! 🐼

[2018-05-27 14:19] #822 closed

[2018-05-28 03:47] williamespindola commented on #921
I'm getting the ArrayType

[2018-05-28 08:42] henriquemoody commented on #664
Fixed by #957.

I've changed how `getMessages()`, check out [get_messages.phpt](https://github.com/Respect/Validation/blob/master/tests/integration/get_messages.phpt) and [get_messages_with_replacements.phpt](https://github.com/Respect/Validation/blob/master/tests/integration/get_messages_with_replacements.phpt) to see how it works.

It will be released with the version 2.0. If any of you want to

[2018-05-28 08:42] #664 closed

[2018-05-28 08:43] henriquemoody commented on #649
Fixed by #957.

I've changed how `getMessages()`, check out [get_messages.phpt](https://github.com/Respect/Validation/blob/master/tests/integration/get_messages.phpt) and [get_messages_with_replacements.phpt](https://github.com/Respect/Validation/blob/master/tests/integration/get_messages_with_replacements.phpt) to see how it works.

It will be released with the version 2.0. If any of you want to

[2018-05-28 08:43] #649 closed

[2018-05-28 08:43] henriquemoody commented on #951
Fixed by #957.

I've changed how `getMessages()`, check out [get_messages.phpt](https://github.com/Respect/Validation/blob/master/tests/integration/get_messages.phpt) and [get_messages_with_replacements.phpt](https://github.com/Respect/Validation/blob/master/tests/integration/get_messages_with_replacements.phpt) to see how it works.

It will be released with the version 2.0. If any of you want to

[2018-05-28 08:43] #951 closed

[2018-05-28 08:45] henriquemoody commented on #635
I'm not 100% sure, but I think it was fixed by #957.

I've changed how `getMessages()`, check out [get_messages.phpt](https://github.com/Respect/Validation/blob/master/tests/integration/get_messages.phpt) and [get_messages_with_replacements.phpt](https://github.com/Respect/Validation/blob/master/tests/integration/get_messages_with_replacements.phpt) to see how it works.

It will be released with t

[2018-05-28 08:45] #635 closed

[2018-05-28 15:46] obstschale commented on #951
That's great :+1: Thank you.

If you wondered, I watched this thread silently all the time ^^

[2018-05-28 16:57] koficodes commented on #921
I'm getting Even

[2018-05-30 16:23] daddyy opened #960 "SPF validation"
Hi what about this to fork?

    public static function emailSpf($email, $domain) {
            $result = false;
            $tempDomain = \WrShop\Core\Util::getDomainName($domain);
            $shellRes = shell_exec("nslookup -q=TXT " . $tempDomain . " 2>&1");
            $tempEmail = explode('@', $email);
            if (stripos($shellRes, end($tempEmail)) !== false) {
                $result =

[2018-05-31 01:36] DaniloBenevides commented on #921
Im getting Lowercase

[2018-05-31 18:08] Darkmift opened #971 "Please make a youtube tutorial for this!"
I love this addon but I have a real hard time doing adv stuff like url validation or file validation

and usually youtube is great for anything else I study but in said case there really is no vid to showcase the full potential.

[2018-05-31 20:46] nealoke opened #972 "How to validate a string containing HTML tags?"
Hi, thanks for this awesome lib. but I find it confusing on how to properly validate a string containing html tags. Is there a straightforward way of doing this? :)

Example string:
`this is a <b>string</b> with ... <br /> a break`

[2018-06-01 05:29] williamespindola commented on #971
This lib is really straightforward, can you give some reasons why the docs is so complicated to understand how to use?

[2018-06-01 05:45] williamespindola commented on #921
Guys I found a bug on Contains rule during the work. I would send a patch but looking at the [history of file](https://github.com/Respect/Validation/commits/master/library/Rules/Contains.php) this problem exists for a long time ago. I think that we can continue this work and I will join the fix with apply of this issue. What you think about that?
About the problem. The Contains rule do not check i

[2018-06-01 06:52] #971 closed

[2018-06-01 07:39] henriquemoody commented on #921
@williamespindola while applying the contribution guidelines I've found a few bugs myself!

However, if I understood what you said correctly that's the expected behaviour.

If you're searching in a string, you need a match **in** the string:

[code]

If you're searching in an array, you need a  match **in** the array:

[code]

It's inverted behaviour of "In".

[2018-06-01 08:05] henriquemoody commented on #972
I think the regex is a bit more complicated that that: https://3v4l.org/2cO6Q

It can have many false-positives, at least I have no idea of how to analyse HTML with a REGEX. The `strip_tags()` has way more false positives, thought. I would't like to use that.

For now, how you can do it is `v::regex('#<[a-zA-Z]+(\s+[a-zA-Z].+|\s*/)?>#')` but as I said, some false-positives may occur. And I don't k

[2018-06-01 10:07] nealoke commented on #972
@williamespindola  @henriquemoody  thanks for looking in to this so soon 👍

My use case is just to allow html in the string, not validate if html is valid, but I guess that would be even better. I will currently use your example @henriquemoody but I guess it would be nice to have a `v::html()` method 😄

[2018-06-01 10:30] henriquemoody commented on #972
You can create a [Custom rule](https://github.com/Respect/Validation/blob/1.1/docs/README.md#custom-rules).

[2018-06-01 11:49] henriquemoody commented on #921
I'm getting IterableType

[2018-06-01 13:34] williamespindola commented on #921
@henriquemoody I don't know if I get it wrong. But the Contais rule have [a flag on constructor](https://github.com/Respect/Validation/blob/master/library/Rules/Contains.php#L21) to match value identical or not. Then if we passe true it will sought for exactly `foo` but whether we pass false or nothing this will sought for a similar e.g. `foo == fool` take a look https://3v4l.org/mYGVe

[2018-06-01 13:42] williamespindola commented on #972
@nealoke I think a custom rule like Henrique said is a good option in this case. Is better provider a way todo this instead create a validator that causes some false-positive in my option.
Please let us know if this problem as solved.

[2018-06-01 14:10] williamespindola commented on #921
I'm getting Countable

[2018-06-01 14:59] williamespindola commented on #921
I'm getting Cpf

[2018-06-01 15:36] williamespindola commented on #921
I'm getting AlwaysInvalid and AlwaysValid

[2018-06-01 21:45] williamespindola commented on #921
I'm working on ArrayVal, Base64, Base, BoolType and BoolVal

[2018-06-03 18:42] DaniloBenevides commented on #921
I am getting FloatVal and FloatType

[2018-06-04 21:02] Ismael-Elias commented on #921
i'm getting Positive

[2018-06-05 20:40] IsmaelElias commented on #921
I'm getting Negative

[2018-06-06 01:52] DaniloBenevides commented on #921
I am getting Odd

[2018-06-06 12:34] IsmaelElias commented on #921
I'm getting PrimeNumber

[2018-06-06 13:15] r--w opened #994 "TLD domains update"
Please update all new TLD domains as listed in http://data.iana.org/TLD/tlds-alpha-by-domain.txt
currently we are missing many of them

[2018-06-06 22:55] koficodes commented on #921
I'm getting email

[2018-06-07 09:42] DaniloBenevides commented on #921
I'm getting NoWhitespace

[2018-06-08 19:36] nickl- commented on #921
31% completed... this is taking for ever =(

Good job so far guys!

[2018-06-09 14:28] williamespindola commented on #921
working on Bsn, Callback, Charset, Cnh, Cnpj

[2018-06-10 02:02] DaniloBenevides commented on #921
I'm getting PerfectSquare.

[2018-06-11 22:51] thomas-miceli opened #1008 "File upload validation"
I use [Slim 3 Framework][1] on my project, and i have a form with 3 inputs : `'file', 'name', 'fname'`.

Assuming that `$request` has the data inputs of my form, to get the uploaded file, i use this code

    $files = $request->getUploadedFiles();
        if (empty($files['file'])) {
            throw new Exception('Invalid image');
        }
    $newfile = $files['file'];

Then, I validate my inp

[2018-06-12 11:55] williamespindola commented on #921
I'm getting CountryCode, CreditCard, CurrencyCode, Directory and Each

[2018-06-12 12:11] IsmaelElias commented on #921
I'm getting Number

[2018-06-14 08:49] fabiopellegrini opened #1012 "IpException `configure` method throws Exception"
Executing
[code]

Will cause the following error:
`Undefined index: networkRange`

In IpException.php
[code]
Should be:
[code]

[2018-06-14 22:49] koficodes commented on #921
I'm getting :

-   Tld
-   TrueVal
-   Type
-   Unique
-   Uploaded

[2018-06-15 20:10] henriquemoody commented on #921
There is a new version of the script: https://gist.github.com/henriquemoody/d4409df72a86dd07b9a794635ce0995a

[2018-06-15 20:17] henriquemoody commented on #856
That's fixed in master already (see [UrlException](https://github.com/Respect/Validation/blob/master/library/Exceptions/UrlException.php)).

I'm have to sleep a bit on it, but I think we can't release that in a patch version (see https://github.com/Respect/Validation/pull/1013#issuecomment-397730390)

[2018-06-15 21:21] dmirogin commented on #856
Yeah, sure, some misunderstanding. So you should close this issue, i think.

[2018-06-16 14:24] #955 closed, assigned to nobody

[2018-06-16 23:37] williamespindola commented on #921
I'm working on: EndsWith, Executable, Exists, Extension, Factor, FalseVal, Fibonacci, File, Finite

[2018-06-17 00:58] koficodes commented on #921
I'm working on:
-   Not
-   NotBlank
-   NotEmpty
-   NotOptional
-   Number
-   NumericVal

[2018-06-18 22:31] nickl- commented on #921
52% Whoop whoop!! It's all downhill from here =)

Go-go-go!!

[2018-06-19 03:03] DaniloBenevides commented on #921
I'm gettin intVal and Multiple

[2018-06-23 15:37] henriquemoody opened #1033 "Each does not throw a readable message"
While executing the code:

[code]

The **expected output** would be:

[code]

Instead the **actual output** is:
[code]

[2018-06-23 18:54] henriquemoody commented on #1012
Thanks for reporting! Can you also explain why are you creating instances of that exception?

[2018-06-23 19:14] #1012 closed

[2018-06-23 19:15] henriquemoody commented on #1012
I will be released in the version 1.1.17.

Thanks for reporting! 🐼

[2018-06-23 19:17] henriquemoody commented on #856
I think that makes sense, indeed. Thanks for reporting, @hpaknia, and thanks for the PR, @dmirogin! 🐼

[2018-06-23 19:17] #856 closed

[2018-06-23 19:28] henriquemoody commented on #846
Hey, @km3945! I guess you're using a custom autoload. I would like to understand a bit more of the problem, for now I'm close this issue, but please lets keep talking if you want to give me more information!

🐼

[2018-06-23 19:28] #846 closed

[2018-06-23 19:32] #849 closed

[2018-06-23 19:33] henriquemoody commented on #849
This issue will be fixed in the version 1.1.18. Thanks for reporting! 🐼

[2018-06-25 04:47] bc-luke opened #1037 "Default URL validation message template should be "a URL" not "an URL""
The [default URL validation messages](https://github.com/Respect/Validation/blob/1.1/library/Exceptions/UrlException.php#L16-L23) are `"{{name}} must be an URL"` and `"{{name}} must not be an URL"`.

Because of [how URL is pronounced](https://itknowledgeexchange.techtarget.com/writing-for-business/which-is-correct-a-url-or-an-url/), I suggest changing these to `"{{name}} must be a URL"` and `"{{na

[2018-06-25 08:59] fabiopellegrini commented on #1012
Hi @henriquemoody , thank you for the fix! :)
I created an object which uses Respect validation and I wanted to automatically set the `name` parameter of the exceptionts raised by the validator.
When I started writing tests I realized that IpException had a this little bug in `configure` method.

[2018-06-27 12:30] precariouspanther opened #1038 "IntVal validates for `boolean true`"
https://github.com/Respect/Validation/commit/54d17abcee9c6e734691754c77641a5f51ecc608#r29514787

Recent update to `IntVal::validate()` means passing a boolean `true` passes validation.

[2018-06-27 12:51] precariouspanther commented on #1038
Candidate fix PR: https://github.com/Respect/Validation/pull/1039

[2018-06-28 21:51] henriquemoody commented on #1038
Fixed by f5ca4a298a4475a64f0d8526041c1a58167e8c7c

Thanks for reporting and sending the fix, @precariouspanther! 🐼

[2018-06-28 21:51] #1038 closed

[2018-06-30 15:24] cwl168 opened #1042 "how to use special validation rule？"
[code]
In the json above, if LinkType equal one, then LinkValue must be a string. If LinkType equal two, then it must a array.How to use validation ? Can you help me ?

[2018-07-01 04:54] nickl- commented on #1037
hmmm ... if u ask me it's a typed message and not spoken word so therefor not pronunciation applies.

As far as I know: U is a vowel so it gets preceded by an.

Never heard of any grammar rules based on pronunciation, this is a first.
an URL... Now it sounds funny to me too. lol. Kill the meme.

[2018-07-01 10:35] henriquemoody commented on #1037
Yeah, that was new to me too. It's been fixed in `master` (see #856). I'm still reluctant to release that in the version 1.1.19 because it may break backwards compatibility if someone is using a template with that rule.

[2018-07-01 10:35] #1037 closed

[2018-07-01 10:49] henriquemoody commented on #1042
[code]

First you use [Key][] because you want to validate what is inside `ImagesList`, then you use [Each][] because you want to validate each value inside `ImagesList`.

For each value inside `ImagesList` you need to apply a conditional validation, for that you will use [When][] which the condition: _if the [Key][]  `LinkType` is [Equals][] to `1`, then I validate if the [Key][]  `LinkValue` has

[2018-07-01 10:49] #1042 closed

[2018-07-01 12:15] henriquemoody commented on #434
Fixed by c80524b4574b780d71b1c348417f0094aad8b64a and 30dc089565b15a1fcbf24f6b70f2104ee0eea1ea

[2018-07-01 12:15] #434 closed

[2018-07-01 12:18] henriquemoody commented on #659
Hope I have answered your question. :)

[2018-07-01 12:18] #659 closed

[2018-07-01 12:42] #881 closed

[2018-07-01 12:45] henriquemoody commented on #881
This is now available in the website. See http://respect.github.io/Validation/docs/alnum.html

Thanks for contributing! 🐼

[2018-07-01 13:22] nickl- commented on #1037
Is also breaking if someone pronounces it differently, URL - like the tea =)

- earl grey tea

[2018-07-01 14:09] cwl168 commented on #1042
Thank you, but I still have a question, how to use with keyset? I mean there can only be "ImagesList" attribute in json, only "LinkType" attribute, only "LinkValue" attribute. If json has other Attribute, verification does not pass.

[2018-07-01 15:48] asadghazanfary opened #1046 "validation checkbox"
how can i validation checkbox is checked with Respect\Validation?

please help me

[2018-07-02 01:30] henriquemoody commented on #1046
If depends a lot on your implementation, but generally speaking you can use `v::yes()` to validate it.

In case the answer is not enough, please provide more context to your question.

I hope it helps! 🐼

[2018-07-02 01:30] #1046 closed

[2018-07-02 04:57] cwl168 commented on #1042
Have you seen my reply? Thank you.

[2018-07-02 05:54] henriquemoody commented on #1042
I'm afraid you have to combine the validation of each item in the `ImageList` with the when. You can not do that thought "KeySet" because you only have access to the key value in the validation. It should be something like that.

[code]

[2018-07-02 06:17] #619 closed

[2018-07-02 06:17] #805 closed

[2018-07-02 06:19] henriquemoody commented on #619
It should be fixed in the version 1.1.19 which I intent to release very soon.

Thank you very much for reporting! 🐼

[2018-07-02 06:20] henriquemoody commented on #805
It should be fixed in the version 1.1.19 which I intent to release very soon.

Thank you very much for reporting! 🐼

[2018-07-02 06:28] henriquemoody commented on #1037
I decided to release that in version 1.1.19, please upgrade your version.

Thanks for reporting! 🐼

[2018-07-02 06:28] henriquemoody commented on #856
I decided to release that in version 1.1.19, please upgrade your version.

Thanks for reporting! 🐼

[2018-07-02 09:30] cwl168 commented on #1042
I tested this code in phpstorm and reported the following error:

Respect\Validation\Exceptions\ComponentException : KeySet rule accepts only Key rules
 /home/vagrant/Code/api/vendor/respect/validation/library/Validator.php:231
 /home/vagrant/Code/api/vendor/respect/validation/library/Validator.php:243
 /home/vagrant/Code/api/vendor/respect/validation/library/Validator.php:217
 /home/vagrant/Code/

[2018-07-03 07:41] cwl168 commented on #1042
Does it support this scenario?

[2018-07-03 19:42] nickl- commented on #921
Only 54% now, what's happening? We were doing so well!

I saw @henriquemoody agreed to release v1.1.19 is this the reason progress is impacted?

Come on guys almost there, lets get this done!

[2018-07-05 04:40] dvv opened #1048 "Way small $maxCountStringify"
I need a more verbose report of valid options in `InException` and wonder how `\Respect\Validation\Exceptions\ValidationException::$maxCountStringify` could be increased?

TIA,
--Vladimir

[2018-07-05 14:40] nickl- commented on #1048
No that is a good question that class variable is private, the same goes for `$maxDepthStringify`.

[code]

However the method where it is used considers only changing the depth not the count.

[code]

Perhaps overloading this method would be the most appropriate choice for addressing your requirement... but alas it will require an API change.

[2018-07-06 14:09] cwl168 opened #1049 "【question】Does "respect" support this scenario? How to deal with it ？"
<pre>
{
    "ImagesList":[
        {
            "LinkType":"1",
            "LinkValue":"s.boqii.com"
        },
        {
            "LinkType":"2",
            "LinkValue":[
                {
                    "GoodsId":"5112",
                    "Tag":"test",
                    "Sort":"1"
                },
                {
                    "GoodsId":"9104",
                    "Tag":

[2018-07-08 09:59] henriquemoody commented on #1042
Sorry, my bad. The first `KeySet` (of `ImageList`) is not correct:

[code]

[2018-07-08 10:00] henriquemoody commented on #1049
Sorry, it was a wrong answer see https://github.com/Respect/Validation/issues/1042#issuecomment-403276431

[2018-07-08 10:00] #1049 closed

[2018-07-11 18:05] nickl- commented on #931
I agree with @henriquemoody

[RFC5322 Section 3.4.1](https://tools.ietf.org/html/rfc5322#section-3.4.1) defines the `addr-spec` as

[code]

Even though TLDs (top level domains ie. com, org) don't traditionally serve as domain names there is nothing in the DNS specification preventing TLDs for being used for this purpose and `user@com` would make a valid e-mail if the appropriate DNS configurations

[2018-07-11 18:05] #931 closed

[2018-07-11 18:45] nickl- commented on #924
All the validation errors will report on the supplied value that failed validation. This is because the validator wouldn't know if you are referencing a variable, an array or an object field. The validator only knows that the given value has failed and this is what is reported in the most expressive way possible.

The only way I can think of for you to produce a contextual error as you want would

[2018-07-11 18:52] nickl- commented on #921
I must've missed the memo... has this development now stopped?

[2018-07-12 06:10] henriquemoody commented on #921
Not at all! I did spend quite some time on the version 1.1.19, there were quite a few bugs. In retrospect, that was a bad decision. Now I'm struggling for a few days with the merge of the branch 1.1 into master. However, it should not stop! As soon as I merge the 1.0 I'm right back into the 2.0!

How about you, @koficodes, @DaniloBenevides, and @williamespindola?

And thanks for pushing it forward

[2018-07-12 11:09] williamespindola commented on #921
[I'll be back](https://media.giphy.com/media/JDKxRN0Bvmm2c/giphy.gif) Just solving some issue in my work

[2018-07-13 12:17] nickl- commented on #890
lol, what will we have next.

This actually had me going for a second, but it turns out what it is actually doing is defining `https` as the host with a blank port number.

also tested it with java's `java.net.URI` class which accepts it as valid.

hmmmmmm dodgy.

[2018-07-13 12:21] nickl- commented on #915
You can test if the string [endsWith](https://github.com/Respect/Validation/blob/1.1/docs/EndsWith.md)

[2018-07-13 19:32] nickl- commented on #840
Have a look at the [list of String type validators](https://github.com/Respect/Validation/blob/1.1/docs/VALIDATORS.md#string) there is sure to be something that you could use for this.

[2018-07-13 19:44] nickl- commented on #627
Closed: as per #762 Won't fix

[2018-07-13 19:44] #627 closed

[2018-07-13 19:45] nickl- commented on #92
Closed: as per #762 Won't fix

[2018-07-13 19:45] #92 closed

[2018-07-13 19:48] nickl- commented on #472
Closed: as per commit Respect/Validation@87708fb

[2018-07-13 19:48] #472 closed

[2018-07-13 19:50] nickl- commented on #645
Closed: as per #762 Won't fix

[2018-07-13 19:50] #645 closed

[2018-07-13 20:17] nickl- commented on #761
Closed: as per #762 Won't fix

[2018-07-13 20:17] #761 closed

[2018-07-13 20:19] nickl- commented on #873
Closed: Known issue

[2018-07-13 20:19] #873 closed

[2018-07-15 04:14] DaniloBenevides commented on #921
I'm getting Image and Imei

[2018-07-22 19:12] alystair opened #1052 "Requesting UUID/GUID v4 validator"
Version 4 UUIDs have the form `xxxxxxxx-xxxx-4xxx-Yxxx-xxxxxxxxxxxx` where `x` is any hexadecimal digit and `y` is one of `8`, `9`, `a`, or `b`.

Regex equiv `/^[0-9A-F]{8}-[0-9A-F]{4}-4[0-9A-F]{3}-[89AB][0-9A-F]{3}-[0-9A-F]{12}$/i`

[2018-07-23 11:43] elshobokshy commented on #915
Thanks @nickl- ! It's not safe to just check for the string's name but it's a nice workaround for now :)

[2018-07-23 20:30] nickl- commented on #915
@elshobokshy yw

**Closed: answered**

Feel free to post a new issue if you have further questions.

[2018-07-23 20:30] #915 closed

[2018-07-25 09:58] maur opened #1058 "Why phpdoc @method is defined only for static?"
Right now, with phpdoc inside library/Validator.php like:
`@method static Validator numeric()`
I have code completion working when trying Validator::
But when I expect completion further when writing next rules in chain: Validator::numeric()-> - here completion doesn't work.
If I have to choose then I think normal calls are used more often, since static is only on first rule.

Yeah, I know I can u

[2018-07-25 12:42] henriquemoody commented on #1058
Which IDE are you using, @maur?

[2018-07-25 12:43] maur commented on #1058
PhpStorm

[2018-07-27 07:30] urmasrosenberg commented on #908
It should, I think, check the value already in IntVal object, but it doesn't. It checks only for float and boolean, to return false. String goes through.

From there it gets through Min/Max class where filterInterval() is called and it ends up with
[AbstractInterval:39] return new DateTime($value);

Object is returned it ends up with casting error

[2018-07-28 03:08] henriquemoody commented on #908
Thanks for reporting and for the proposed solutions! 🐼

 I cooked #1060 to solve the problem, check it out!

About the validation _getting_ there: if you use `IntVal` but you validate your input with `assert()` all rules in the chain will be validated, Validator will not skip the next rule if the current one fails (unless if you use `check()`)

[2018-07-28 20:08] esaulfarfan commented on #127
I'm for sure late to this party but want to comment Augustohp's [code snippet](https://github.com/Respect/Validation/issues/127#issuecomment-23510151) was so helpful to load this library without Composer (for those don't like it as me). So I just placed the contents of "library/" from the repo into a simple folder structure I created named "Respect/Validation/", then autoloaded all of its contents

[2018-07-29 19:53] nickl- commented on #922
Can't do much about new keywords conflicting with existing names, the class name will have to change to avoid this warning.

`Number` is one possible rename candidate or perhaps the more verbose `Numerical` is more appropriate.

[2018-07-29 20:04] nickl- commented on #921
It seems our progress is still stuck at 54% completion.

Is there any obstacles preventing this from moving forward which we could move out of the way or is this purely due to availability constraints?

How about a commitment to get 55%?
@DaniloBenevides are you done with Imei and Image yet?
@williamespindola has the Sky Labs mainframe authorised your return yet? =)

Lets get this wheel turning ag

[2018-07-30 03:06] augustohp commented on #127
Thanks for your kind words and taking the time to leave a feedback @esaulfarfan ! Your words are very valuable and much appreciated ❤️

[2018-07-30 21:30] nickl- commented on #921
Added tick to Multiple rule #1051 ...no progress was really getting me down =)

[2018-07-31 13:05] #908 closed

[2018-07-31 13:06] henriquemoody commented on #908
The fix is available in version 1.1.21

And again, thanks for reporting! 🐼

[2018-07-31 13:39] urmasrosenberg commented on #908
Thanks for responses and fix!

[2018-08-01 14:50] DaniloBenevides commented on #921
I'm working on Image Rule , will try to finish till weekend.
I think i can try 5 rules per week from next monday. :smile:

[2018-08-02 00:18] nickl- commented on #921
@DaniloBenevides Go get them tiger! =)

gl

[2018-08-02 01:01] DaniloBenevides commented on #921
I'm getting Infinite , Instance and In

[2018-08-07 21:00] zero-void commented on #610
You could do the following... Works well for my use case:
`try {
            $this->v::allOf(
                $this->v::contains('uf')->setName('uf'),
                $this->v::contains('uid')->setName('uid'),
                $this->v::contains('cant')->setName('cant')
            )->assert($queryParams);
        } catch (NestedValidationException $e) {
            $this->isValidQuery = false;

[2018-08-08 13:02] thibaudcolas commented on #622
With this discussion and #109 in mind, is there a recommended approach to synchronising the validation rules defined with `Validation` in PHP with what a client-side validation engine would use?

I'm thinking of something like what https://github.com/Respect/Validation/issues/109#issue-10158078 suggests, where there would be a way to serialise validation rules so they can be provided to a JS valid

[2018-08-09 16:50] GusAntoniassi opened #1070 "How to set 'translator' param for every validation exception"
Hello all.
I would like to know if there is any way to set the 'translator' param for every validations done with Respect, instead of having to do it on every exception.

Instead of using:
[code]

Something like:
[code]

Thanks in advance.

[2018-08-14 06:07] henriquemoody commented on #1070
Hey, @GusAntoniassi! Unfortunately in the current version of Validation you cannot set a translator for every exception. That's already possible in the next version yet to be released thought.

However I would like to know a bit more about the use case you're having if that's possible. Are you validating user data and showing this message to the final users?

BTW I've checked [GusAntoniassi/respec

[2018-08-14 08:47] gpredl commented on #994
TLD check is useless without current list.
As mentioned in https://github.com/Respect/Validation/issues/824 there is a Public Suffix list available.

[2018-08-14 11:26] gpredl commented on #994
Added Pull request for optional usage of LayerShifter\TLDDatabase
https://github.com/Respect/Validation/pull/1071

[2018-08-14 11:27] gpredl commented on #824
Relates to https://github.com/Respect/Validation/issues/994

[2018-08-19 00:16] DaniloBenevides commented on #921
I'm getting Ip , Json, KeyValue, LanguageCode, LeapDate

[2018-08-19 07:17] nickl- commented on #921
58% complete... steady as she goes.

Nice! =)

[2018-08-19 15:44] henriquemoody commented on #917
It's been a long time since there is no response on this one. I'm gonna close this one but feel free to send a new one if needed!

I hope you found a resolve for your problem anyways! 🐼

[2018-08-19 15:44] #917 closed

[2018-08-19 15:49] henriquemoody commented on #945
It's been a long time since there is no response on this one. I'm gonna close this one but feel free to send a new one if needed!

I hope you found a resolve for your problem anyways! 🐼

[2018-08-19 15:49] #945 closed

[2018-08-19 15:49] henriquemoody commented on #945
And thanks @infodusha for the proposed solution!

[2018-08-19 15:49] henriquemoody commented on #625
It's been a long time since there is no response on this one. I'm gonna close this one but feel free to send a new one if needed!

I hope you found a resolve for your problem anyways! 🐼

[2018-08-19 15:49] #625 closed

[2018-08-19 15:49] henriquemoody commented on #680
It's been a long time since there is no response on this one. I'm gonna close this one but feel free to send a new one if needed!

I hope you found a resolve for your problem anyways! 🐼

[2018-08-19 15:49] #680 closed

[2018-08-19 15:50] henriquemoody commented on #833
It's been a long time since there is no response on this one. I'm gonna close this one but feel free to send a new one if needed!

I hope you found a resolve for your problem anyways! 🐼

[2018-08-19 15:50] #833 closed

[2018-08-19 15:53] henriquemoody commented on #837
@rkyoku I'm very sorry it took so long and you didn't get any reply on your issue. It sucks but sometimes it happens. I'm gonna close this issue because it's very old and I have reasons to believe that you've moved on.

I hope you found a resolve for your problem anyways, and feel free to open new ones at anytime and hopefully it will not take a year for somebody to reply! 🐼

[2018-08-19 15:53] #837 closed

[2018-08-19 15:57] henriquemoody commented on #840
It's been a month since there is no response on this one. I'm gonna close this one but feel free to send a new one if needed!

As @nickl- suggested you could use one of the other validators, like `v::not(regex('/^http/'))`.

I hope you found a resolve for your problem anyways! 🐼

[2018-08-19 15:57] #840 closed

[2018-08-19 16:04] henriquemoody commented on #853
@christianmalek  I'm very sorry it took so long and you didn't get any reply on your issue. It sucks but sometimes it happens. I'm gonna close this issue because it's very old and I have reasons to believe that you've moved on.

I hope you found a resolve for your problem anyways, and feel free to open new ones at anytime and hopefully it will not take almost a year for somebody to reply! 🐼

[2018-08-19 16:04] #853 closed

[2018-08-19 16:11] henriquemoody commented on #1058
I tried here too, and indeed PHPStorm doesn't recognise them as non-static (which makes sense because that's how they're declared). We have to choose one or another, and I'm not sure which one would be the best.

If we choose the non-static, to have autocomplete one would have to do something like `v::create()->numeric()->length(1,20)` 🤔

Any thoughts, @Respect/respect-validation?

[2018-08-19 18:05] christianmalek commented on #853
@henriquemoody Thanks for your response. :)

[2018-08-21 15:46] jamacon36 opened #1078 "Colombian postal code returns invalid format with correctly formatted postal code."
Entering a valid postal code `######` with the country code set to `CO` returns an error claiming it to be an invalid format. Other postal codes validate as expected.

[2018-08-21 18:56] henriquemoody commented on #1078
Could you give us an example, @jamacon36?

[2018-08-22 14:21] Zekhap opened #1080 "My custom validation is loaded and says it does not exists"
Hello,

As the title says my custom rule is loading but does not work
Here is how my autoload with the Respect Factory debug
[https://pastebin.com/ryt74UZP](https://pastebin.com/ryt74UZP)

Here is my stacktrace
[https://pastebin.com/SjR0WkMd](https://pastebin.com/SjR0WkMd)

Custom Rule
[https://pastebin.com/rftvbP9M](https://pastebin.com/rftvbP9M) Rule
[https://pastebin.com/saQN03G5](https://paste

[2018-08-22 22:46] GusAntoniassi commented on #1070
Hey @henriquemoody, sorry for the late reply.

Yes, I'm hoping to validate all exceptions through Respect in the back-end and display them to the user through an alert box or something like that.

I'm also thinking on the possibility to parse the field name from the error message, so I would be able to show each message next to their relevant form input, but for now just the alert box will do.

Th

[2018-08-23 14:30] meglio commented on #119
Should `$defaultTemplates` be added to the documentation as well?

[2018-08-23 18:27] jamacon36 commented on #1078
Totally:
[code]

Thanks for getting back!

[2018-08-24 11:45] thibaudcolas commented on #811
I think this is the same issue as #628.

[2018-08-24 11:56] thibaudcolas commented on #628
In my testing, this makes `keySet` completely unusable when you rely on error messages as part of your UI: there is no way to map this error message into something end users can rely on.

If it said:

- Key `ip_address` is missing
- Key `whatever_example` is extra

… then that could be converted to a "required" message for end users, and the "extra" message can be  useful to API clients.

The work

[2018-08-24 12:04] thibaudcolas commented on #769
My workaround for this (which comes from `v::allOf` in my project) was to use `setName('IGNORE_ERROR')` on the validator, then configure the error handling to discard all errors that contain `IGNORE_ERROR`. This seems very brittle, but is the only way I found to discard the message.

I don't understand why this rule has an error message to start with – it's only meant to be used combined with othe

[2018-08-24 12:39] thibaudcolas commented on #847
Here are specific issues that make this library very hard to use when you want to display useful error messages to end users:

- #628 `keySet` throws an error if a key is missing, but doesn't mention which key it is.
- #769 `allOf` (and `each` as well I think) throw their own errors "All of the required rules must pass" when more than one of their sub-validators throw an error. Those extra message

[2018-08-24 13:41] Zekhap commented on #1080
Ok, for a reason all my autoloading works except this file.... says file does not exists

[2018-08-24 20:34] henriquemoody commented on #1070
Hey, @meglio! `setParam()` is a method that is available since version 0.3.9.

[2018-08-24 21:04] henriquemoody commented on #1070
@GusAntoniassi, unfortunately for now it's not possible yet. In `master` that's possible already by setting a translator to the Factory, but that's also gonna change.

It's not pretty, but you could do something _like_ that:

[code]

I don't miss this feature too much because I usually create abstractions on top of it because I like to customise depending on my use case (not mine, but here's an ex

[2018-08-24 21:16] henriquemoody commented on #119
I think it's too much exposure to how we work internally.

Of course anyone can hack as much as they want but that can make it hard when upgrading to a new version. I'd rather keep working on a better way to handle translations in the next version than changing the documentation for the time being

[2018-08-25 23:28] oscarotero opened #1083 "Date validation returns different results whether providing a format"
Hi!
As you can see in the following code:

[code]
The date validator with a format returns `true` with an invalid date. It's due [the use of `date_parse_from_format`](https://github.com/Respect/Validation/blob/1.1/library/Rules/Date.php#L52) that only parse the string according to a format but without check whether the date is valid or not. Why not use [`strtotime`](https://github.com/Respect/Vali

[2018-08-27 18:48] henriquemoody commented on #1083
Thanks for reporting, @oscarotero! 🐼

We used to use `DateTime::createFromFormat()` but we used to get quite a few false positives as well (https://3v4l.org/A0onA). The `strtotime()` guess way too much and we also get some false-positives and vice-versa. I think we need we can also use [checkdate](https://php.net/checkdate) as an addition to the result of `date_parse_from_format()`.

You can see t

[2018-08-27 19:06] henriquemoody commented on #628
There are 4 scenarios to consider in `KeySet` would work:

1) `KeySet` failed because there are missing required keys in the input -- that's what I think @oschwald's case is;
2) `KeySet` failed because there are extra keys in the input;
3) `KeySet` failed because there are missing required keys and extra keys;
4) `KeySet` passed the structure check, and delegates the validation to the child `Key`

[2018-08-27 19:08] oscarotero commented on #1083
I see.
To me, `strtotime` provides better results, at least in my use cases. Currently I've fixed this issue using the validator twice:

[code]
I need also validate time values (like `18:30`) so `checkdate` cannot help here.

IMHO, `date()` and `date($format)` should perform the same date validation, with the addition of `date_parse_from_format` in the latest one.

[2018-08-27 19:16] henriquemoody commented on #847
In the next version things will be a little bit easier when trying to get all the error messages, see:

- [get_messages.phpt](https://github.com/Respect/Validation/blob/master/tests/integration/get_messages.phpt)
- [get_messages_with_replacements.phpt](https://github.com/Respect/Validation/blob/master/tests/integration/get_messages_with_replacements.phpt)

However I have to admint that I miss a me

[2018-08-28 06:44] henriquemoody commented on #1080
Hey, @Zekhap! I'm sorry for my late response. Did you manage to make it work? If not I will take a look at this today.

[2018-08-28 07:28] Zekhap commented on #1080
Yeah it works now, my bad.

[2018-08-28 16:46] IsmaelElias commented on #921
I'm working on:
- Sf
- Size
- Slug
- Sorted
- StartsWith

[2018-08-29 20:00] #1083 closed

[2018-08-29 20:02] henriquemoody commented on #1083
`strtotime` is great, but because it tries to guess too much sometimes it can be very disappointing. For example, the date `2012-31-12` is valid (`Y-d-m`), however `strtotime` returns false for it, that's why we shouldn't use `strtotime` as a pre-condition for the rule.

That said, if you don't define the format  the rule will try to _guess_ what's the format and sometimes it will blow up the vali

[2018-08-29 20:17] oscarotero commented on #1083
Thank you for the quick fix 👍

[2018-08-29 20:44] #1078 closed

[2018-08-29 20:46] henriquemoody commented on #1078
I wrote a fix for Colombian postal code but also updating the whole list of postal codes.

Please update your version of Validation to 1.1.25 to have this fixed!

Thanks for reporting! 🐼

[2018-08-30 15:31] shorif2000 commented on #86
i have the following which is not working

[code]

what i see is `- demand_ref Invalid`

[2018-08-30 15:47] wesleyvicthor commented on #86
@shorif2000 what were you expecting to see ?

[2018-08-31 11:16] GusAntoniassi commented on #681
I am also having problems with this warning, but in my case it's related to the ISO 8859-1 encoding.

With the following file (must be saved as ISO 8859-1 for the error to be thrown -- the actual values are coming from a database with the same encoding):
[code]
I get "Warning: mb_strlen(): Unknown encoding &quot;&quot; in
/var/www/html/vendor/respect/validation/library/Rules/Length.php on line 57"

[2018-08-31 22:02] jamacon36 commented on #1078
awesome, thanks @henriquemoody !

[2018-09-03 13:50] henriquemoody commented on #357
It's been a while since we discussed this one. I think it is fine to keep all the rules in the same repository. We can always reopen this one later if any of us think this will be a good one.

[2018-09-03 13:50] #357 closed

[2018-09-03 14:11] danilosilva87 commented on #921
I'm working Length

[2018-09-03 18:56] danilosilva87 commented on #921
@henriquemoody  I think the `IN` rule has already been made, but it has not been checked.

[2018-09-03 21:46] henriquemoody opened #1089 "Add "Message keys" to rule documentations"
**TL; DR**

Pick one rule and update its documentation with a session like the _"Message keys"_ session below.

***
Many rules have _message keys_ that are strings surrounded by `{{` and
`}}` that are replaced after a validation fails. A lot of these keys are
documented but not all of them.

This issue is so we can have an specific session in the documentation of
rule that has suck message keys. T

[2018-09-05 10:07] GoldraK opened #1091 "Problem with validation"
Hello,
First, thanks for the help.

I'm doing an API with slim Framework and I want to use Respect/Validation, for the validations, to integrate it with slim I am using the following package

https://github.com/awurth/SlimValidation

The validation that I'm trying to do is the next, you have 8 options from 1 to 7 is defined by us and 8 activates a free write box, the back has to control if the sel

[2018-09-05 12:07] danilosilva87 commented on #921
I'm working on:
* NumericVal
* StringVal

[2018-09-06 11:27] danilosilva87 commented on #921
I'm working on:
* Pesel
* PhpLabel
* Pis

[2018-09-07 19:00] danilosilva87 commented on #921
I'm working on:
* Readable
* Regex

[2018-09-10 13:30] henriquemoody commented on #921
I removed some rules from the list. There are some rules that I still have to figure out what to do with them:

- [ ] AllOf
- [ ] Alpha
- [ ] AnyOf
- [ ] Cntrl
- [ ] Consonant
- [ ] Digit
- [ ] Domain
- [ ] Graph
- [ ] HexRgbColor
- [ ] Key
- [ ] KeyNested
- [ ] No
- [ ] NoneOf
- [ ] Not
- [ ] NotEmpty
- [ ] OneOf
- [ ] Optional
- [ ] Phone
- [ ] PostalCode
- [ ] Punct
- [ ] Regex
- [ ] Roman
- [

[2018-09-11 00:03] danilosilva87 commented on #921
I'm working on:
* NotBlank
* NotOptional

[2018-09-12 02:11] danilosilva87 commented on #921
I'm working on LeapYear

[2018-09-14 14:27] danilosilva87 commented on #921
I'm working on:
* Luhn
* MacAddress
* Mimetype

[2018-09-14 20:38] nickl- commented on #921
Was-Wah-Wee-Waa!!! 77% is very nice!!!

=)

[2018-09-15 14:11] CameronHall commented on #921
I'm working on Yes

[2018-09-18 09:19] geryguilbon opened #1120 "Validate two keys after formatting one"
Hello,
I can't figure out how to do this .I've this array :
[code]
I'd like to check if the numbers value is identical to the words one by using the php class 'NumberFormatter'

Thanks for your help

[2018-09-18 16:15] henriquemoody commented on #1120
Hey, @geryguilbon! First of all you need to create custom rule) that uses `NumberFormatter`, something _like_":

[code]

Then you can do something like `v::keyValue('words', 'numberString', 'numbers')`.

Take a look at this to know how to implement a custom rule: https://respect-validation.readthedocs.io/en/1.1/feature-guide/#custom-rules

Good luck! 🐼

[2018-09-18 16:15] #1120 closed

[2018-09-18 18:02] geryguilbon commented on #1120
Thank you very much for your quick answer. I've finished by doing it as you
did but hoped there was a way to do it with the help of the Call or
Callback Rules.

Thanks again :)

Le mar. 18 sept. 2018 à 18:20, Henrique Moody <notifications@github.com> a
écrit :

[2018-09-19 00:12] danilosilva87 commented on #921
@williamespindola as we talked in the pub, I'll get the rules  `Extension, Factor, FalseVal, Fibonacci, File, Finite`, ok?

[2018-09-20 08:37] julzpalomiano opened #1125 "Invalid email"
I tried to key in my email `me@domain.com.sg` and I got this error `"Email address must be valid email"`
How to validate email with extension? thanks

[2018-09-20 17:11] martinburch opened #1126 "how should I replace addOr() shortcut?"
I have some code like this, from a few years ago...

[code]

I can see `addOr()` was removed in #444 but I don't see any discussion on what to do instead.

[2018-09-21 06:05] henriquemoody commented on #1126
Hey, @martinburch! Depending on what is `$this->sort_validator` it can be simpler, but:

[code]

Hope it works for you, let me know if it works as expected!

[2018-09-21 06:05] #1126 closed

[2018-09-21 07:05] martinburch commented on #1126
$this->sort_validator starts off as one type of validator but is extended by adding other validation rules.

[code]

[2018-09-21 07:25] martinburch opened #1127 "Confusing message on empty string"
The [feature guide](https://github.com/Respect/Validation/blob/1.1/docs/feature-guide.md#input-optional) mentions that now empty strings passed to validators aren't valid, unless the validator is enclosed by v::optional

The error returned for empty strings failing validation is not helpful when searching for a solution to this problem.

[code]

I would instead suggest a message on empty string th

[2018-09-21 07:45] martinburch commented on #1126
Thanks! This is working for me.

Just a quick note to say call_user_func_array() is still a valid php7 function, so, although the ` ...` operator works, it's not required.

[2018-09-22 05:18] md51111 opened #1128 "underline,alnum"
don't have validation about underline

[2018-09-23 01:50] bluebaroncanada commented on #390
Still no resolution for this?  Is this package abandoned?

[2018-09-23 01:53] bluebaroncanada commented on #390
`composer require egulias/email-validator "~2.1"` fixed this for me.  Weird that this is still open.

[2018-09-28 12:44] tmtben opened #1130 "Validator name (setName) and localization (translator)?"
Hi all,

Is there a way to translate the validator name (I mean the value set using setName() method)?

I would like to use a dedicated translator for my field names, a translator different than the one I already use for exception messages.

For instance:
• I use gettext and a dedicated language respectvalidation.po/.mo file for Respect\Validation
• I use gettext and a messages.po/.mo file for fie

[2018-10-01 11:42] danilosilva87 commented on #921
I'm working on:
* Version
* VideoUrl
* When
* Writable
* Zend

[2018-10-02 22:17] henriquemoody commented on #1128
hey, @md51111! Can you elaborate? I couldn't quite understand what did you mean by that.

[2018-10-03 09:16] weeman1337 commented on #1052
I'll do this one. The validation will cover all uuid versions, not just version 4 :)

[2018-10-03 17:13] BelkinaDasha opened #1140 "getFullMessage() skips root error message when only one object attribute is invalid"
Hi!

I've noticed some incosistent behavior: I get different full error messages in case when one object attribute validation fails and in case of 2 or more violations.
Take a look at this code and its output:
[code]
Outputs:
[code]
In case 1 the root message is being skipped.

While I expect something like that:
[code]
I've figured out that it happens because in the 1st case the root exception me

[2018-10-04 06:25] KonstantinKolodnitsky opened #1141 "Email validation throws ErrorException "Array to string conversion"
It happend when an array is passed to the validator.
The class `Egulias\EmailValidator\Validation\RFCValidation` has `(string)$email` but doesn't have check for scalar.

[2018-10-09 03:47] #1141 closed

[2018-10-09 03:49] henriquemoody commented on #1141
Thanks for reporting and for sending the #1142! 🐼

[2018-10-11 09:35] md51111 commented on #1128
example user_order or user_order123
underlie validation

[2018-10-11 11:32] henriquemoody commented on #1128
The "Alnum" rule allows you to define a list of additional chars, therefor you could use:

[code]

Check https://respect-validation.readthedocs.io/en/1.1/rules/Alnum/ for more information.

[2018-10-11 11:32] #1128 closed

[2018-10-12 20:07] sprak3000 commented on #855
I'm willing to give a PR to add Twitch videos to the validator a go. After reading the contributing guidelines, I think this would be considered a new "feature", so I'll branch off of `master`. Let me know otherwise.

[2018-10-19 23:43] raheelkhan commented on #1127
How can I reproduce it ? I am trying on `1.1` and it is not throwing any exception when passing empty string without the `v::optional`. Thanks

[2018-10-20 15:45] raheelkhan commented on #1125
`v::email()->validate('me@domain.com.sg');` works fine for me.

[2018-10-21 00:38] raheelkhan commented on #852
@henriquemoody I was thinking to detect that if the user has supplied `php://input` instead of filename, we can detect that and do the `file_get_contents('php://input')` to get the body of stream as string. However, If I try to return the `strlen` of string it would return number of bytes considering the encoding is ASCII. But it will not work if there are some non ascii characters that could take

[2018-10-21 17:48] batusa commented on #1127
Hi @martinburch, you can use `->setName(string)` to enhance the error message, by "labeling" your set of rules.

If I do something like

[code]

It's gonna replace `""` for `Field x` and then I get something such as: `Uncaught Field x must contain only letters (a-z)`.

I hope it helps.

[2018-10-24 17:54] nomayonnaise opened #1157 "Custom Rule - error message string from template has double quotes"
So I may be using this the wrong way, but I want my custom ValidationException to return a message in the following format

but what I get is

The `self::STANDARD` template string in the custom ValidationException is
`Max tries ({{max}}) exceeded in ({{period}}), try again in {{tryAgainStringFormatted}}`

The 3 variables are set in my custom Rule as public.
`$max` and `$period` are `integers` and

[2018-10-24 22:48] istvankerek opened #1158 ""noWhiteSpace" is not a valid rule name"
Hello Dear All,
I have a bad bug...
I don't know what is the problame. Everything is worked perfectly on localhost with  Built-in web server (php7.1.10) but when I uploded for the server i hade a crash. (php7.1+ and php7.2 too)
This was my first error message:
`PHP Fatal error: Uncaught Error: Class 'Respect\\Validation\\validator' not found`

I changed the line to this
[code]
from this
[code]

Af

[2018-10-25 12:16] danilosilva87 commented on #1158
Hi @istvankerek , I found two writing problems in your code.

1. The `use Respect\Validation\validator as v;` class is wrong name.
Change to: `use Respect\Validation\Validator as v;` the letter 'V' must be in uppercase

2. The rule `noWhiteSpace` is also with the wrong name, it should be in "s" lowercase.

[2018-10-26 17:15] nomayonnaise commented on #1157
I got around this by using `$name` and `{{name}}` instead of `$tryAgainStringFormatted` and `{{tryAgainStringFormatted}}`

I just can't figure out why any other string other than `{{name}}` get's put in doube quotes!

[2018-10-27 23:58] leonampd commented on #921
I'm working on:

- NfeAccessKey
- Phone
- Punct

[2018-10-30 15:30] nomayonnaise commented on #1157
Figured it out!

Returns the value untouched
https://github.com/Respect/Validation/blob/48b06254c4af1a2d6c1715eb3a2bb3cb72e08bfc/library/Exceptions/ValidationException.php#L65-L67

JSON encodes the string, which adds the quotes.
https://github.com/Respect/Validation/blob/48b06254c4af1a2d6c1715eb3a2bb3cb72e08bfc/library/Exceptions/ValidationException.php#L109

I'll add my own `format()` function to

[2018-10-30 15:30] #1157 closed

[2018-11-02 17:27] TheOtherBrianJ opened #1161 "PostalCode Validation broken for Canada"
It appears that commit [5a067fa](https://github.com/Respect/Validation/commit/5a067faec79d0cd74aa189fc535a644fa29e0c70#r31152463) may have broken PostalCode validation for Canada by inserting an errant space into the regex.

[2018-11-03 02:15] TheOtherBrianJ commented on #1161
This issue is addressed by PR #1162

[2018-11-05 03:54] henriquemoody commented on #1161
Thanks for reporting and for cooking the PR! 🐼

[2018-11-05 03:54] #1161 closed

[2018-11-28 23:58] GusAntoniassi commented on #1070
Hello @henriquemoody! Next week I'll finally have some time to work on this feature again, and I'm thinking how am I going to structure it. Passing the translator in the factory would be useful for me, is this going to be changed or removed? Could you share why?

Also, I am going to try and implement a parser to build a JSON from the exceptions with the format  `"fieldname": "Error message"`. Do y

[2018-11-29 00:07] GusAntoniassi commented on #921
Hello, I will pick up `SymbolicLink`. From what I gathered, it's the only one not being worked on, and the list of available options (including the ones being worked on) would be:
- [ ] Size
- [ ] Size
- [ ] Size
- [ ] Size
- [ ] Size
- [ ] Size

[2018-11-29 06:44] henriquemoody commented on #921
Happy to hear you would like to contribue, @GusAntoniassi!

The rules that still need to be updated but that are _easy to pick_ are:

- Cntrl
- Consonant
- Graph
- KeyValue
- NfeAccessKey
- Phone
- Punct
- Size
- Slug
- Sorted
- Space
- StartsWith
- SymbolicLink
- Vowel

However, there are also other rules that needs some refactoring, in which each case needs some speciall discussion:

- AllOf
- A

[2018-11-30 11:32] lode opened #1168 "Optional makes it hard to extend Validator"
I'm extending the `Validator`, but that is hard when using validators like `Optional`. Then the `check()` method is called twice. See this example script:

[code]

Giving this output:

[code]

I guess this is because both the inner (`Length`) and outer (`Optional`) validators are checked.

However, this doesn't allow for much flexibility in the parent; I can't add arguments to the parent method as

[2018-11-30 11:32] lode commented on #1168
I noticed this is also the case for the original `Validator::check()`, so it is not so much an issue of extending.

[2018-12-05 11:15] shorif2000 commented on #86
i used set name so i should see something like `Demand ref - Invalid `

[2018-12-11 14:23] henriquemoody opened #1173 "Create "NotEmojii" rule"
There were quite some issues in the past about validating "names".

Even thought validating names is something ~almost~ impossible having a rule that validates whether the input is an emojii or not may help with that.

[2018-12-12 16:10] Alex1401LE opened #1174 "problem with when validation"
hello

i have a problem with using "when"
i use this validation:

[code]
and then check with

[code]

```$test_1 = ["f1" => "blabla", "f2" => "add"];```
=> is valid => is correct
```$test_2 = ["f1" => "blabla", "f2" => "edit", "f3" => 1, "f4" => "test"];```
=> is invalid, why? it´s all correct
```$test_3 = ["f1" => "blabla", "f2" => "edits", "f3" => 1, "f4" => "test"];```
=> is invalid => is corre

[2018-12-13 23:58] henriquemoody commented on #1174
Hello, @Alex1401LE!

Think about the validation below:

[code]

When you use the [Key][] rule you are validating the value of a specific key, in the case above you're first validating the `f3` key which means that this validation knows nothing about the whole array.

If your validation is _when`f2` is 'edit' or 'delete', then `f3` should not be empty_ you gotta do this:

[code]

Since you probably

[2018-12-13 23:58] #1174 closed

[2018-12-14 15:31] Alex1401LE commented on #1174
hey @henriquemoody

thanks for your answer

your example unluckily don't do what i need but this was a really great point to start "playing" :)
after playing this is my result and that is what i need

[code]

| test_array | should | result |
| --- | --- | ---- |
| ["f1" => "blabla", "f2" => "add"]|valid|valid|
| ["f1" => "blabla", "f2" => "edit", "f3" => 1, "f4" => "test"]|valid|valid|
| ["f1" =>

[2018-12-16 14:24] Subb98 opened #1177 "Unique columns"
Hi. I need to check the unique column in the table, but in the documents I don't see this method. Is it possible? Or should I call the database in the controller after the middleware (bad resolution for me)?

[2019-01-08 21:29] tylerssn opened #1178 "Is it possible to validate an array of objects without a key?"
I am validating an object that looks like this:

[code]

I understand how to validate the array of objects if they had a key associated with them, however, I am unsure of how to proceed without the keys.

[2019-01-09 11:14] henriquemoody commented on #1178
You can use the "Each" validator

[2019-01-09 17:14] tylerssn commented on #1178
Perfect. Thanks!

[2019-01-09 17:14] #1178 closed

[2019-01-10 14:28] tylerssn opened #1179 "Can a template be set for an object and it's keyNested rules?"
I'm validating a JSON object that contains various arrays of objects. Some of these nested objects have the same property names such as "id". If one of these ID properties fails to validate I get an error such as "Property ID required". However, I do not know which object in the JSON response that this error refers to.

Is it possible to have something similar to below so that the error outputs so